.b-content
	padding: 10px;
	line-height: 1.4;
	color: #202020;
	clearfix();

	&__header
	&__header-text
		font-size: 25px;
		line-height: 1.6;
		margin-bottom: 13px;
		smoothing();

	&__header_m
		font-size: 25px;
		line-height: 1;
		margin-bottom: 22px;
		smoothing();

	&__headertext
		font-size: 25px;
		line-height: 1.6;
		smoothing();

	&__header-text
		display: inline-block;
		vertical-align: top;
	&__header-link
		position: relative;
		display: inline-block;
		margin-left: 14px;
		vertical-align: top;
		font-size: 16px;
		line-height: 46px;
	&__header-addition
		display: inline-block;
		margin-left: 14px;
		color: #747762;
		vertical-align: top;
		font-size: 16px;
		line-height: 46px;
		smoothing();


	&__popup-header
		margin-bottom: 8px;
		letter-spacing: 0.017em;
		font-size: 20px;
		line-height: 1.3;
		smoothing();

	&__subheader
	&__subheader-small
		margin-bottom: 9px;
		letter-spacing: -0.017em;
		font-size: 19px;
		line-height: 1.4;
		smoothing();
	&__subheader-small
		margin-bottom: 4px;

	&__alert
		display: block;
		padding: 17px 19px;
		border-radius: 3px;
		background-color: $mediumgreen;
		letter-spacing: -0.008em;
		@media $wide
			&
				width: columns-width(9);

	&__set
		counter-reset: item;
	&__set__txt
		margin-bottom: 23px;
		letter-spacing: -0.01em;
		columns-width(9)
	&__set__item
		position: relative;
		display: block;
		margin-top: 30px;
		margin-bottom: 46px;
		padding-left: 38px;
		counter-increment: item;
		&:before
			position: absolute;
			left: 0;
			display: block;
			width: 26px;
			height: 26px;
			border-radius: 3px;
			background: #9b9e86;
			color: #f4f6ee;
			content: counters(item, ".");
			text-align: center;
			font-weight: bold;
			font-size: 15px;
			line-height: 26px;
			calibri();
			smoothing();
	&__set__action
		margin-top: -14px;
		padding-bottom: 10px;
		padding-left: 38px;

	&__selection
		position: relative;
		margin-right: 38px;
		margin-bottom: 20px;
		padding: 14px 20px 20px;
		border-radius: 3px;
		background: #e9ecdf;
		clearfix()
	&__selection_indent
		margin-top: 16px;
		padding: 20px;
	&__selection_indent_small
		margin-top: 16px;
		padding: 7px 20px;

	&__forgetpass-link
		float: right;
		margin-top: -3px;
		font-size: 13px;

	&__register-link
		float: right;
		margin-top: 11px;
		font-size: 17px;

	&__decorate
		margin-top: 18px;
		margin-bottom: 35px;
		padding-top: 22px;
		border-top: 1px dashed #ced0c4;
		&:target .b-content__subheader
		&:target .b-content__header
			font-weight: bold;
	&__decorate-options-login
		margin-bottom: 18px;
	&__decorate_last
		margin-top: 18px;
		padding-top: 22px;
		border-top: 1px dashed #ced0c4;
		&:target .b-content__subheader
		&:target .b-content__header
			font-weight: bold;


	&_indent
		margin-top: 12px;

	&_fullwidth
		box-sizing: content-box;
		margin-right: auto;
		margin-left: auto;
		padding: $gridGutterWidth 0 $gridGutterWidth $gridGutterWidth;
		width: columns-width(12)+$gridGutterWidth;
		@media $wide
			&
				width: columns-width(18)+$gridGutterWidth;
		@media $normal
			&
				width: columns-width(12)+$gridGutterWidth;
		@media $tablet
			&
				width: columns-width(9)+$gridGutterWidth;

	&__nav
		box-sizing: content-box;
		margin-right: auto;
		margin-left: auto;
		padding: 0 0 27px 0;
		width: columns-width(12)+$gridGutterWidth;

		@media print
			display: none;

		@media $wide
			width: columns-width(18)+$gridGutterWidth;
		@media $normal
			width: columns-width(12)+$gridGutterWidth;
		@media $tablet
			width: columns-width(9)+$gridGutterWidth;