.b-warning
	position: relative;

	&:after
		position: absolute;
		display: block;
		content: '';
		sprite($b-warning_sprite)

	&_menu-item:after
		top: -8px;
		right: -14px;

	&_health-icon:after
		top: -5px;
		right: -6px;