mixin userinfo(id, label, placeholder, day, month, year, radionname, male, female, class1, class2, class3)
  .b-form__fieldset.b-form__fieldset-bottom
    label.b-form__label(for!="#{id}")=label
    .l-row.l-row_fieldset-equal
      input(type="text", id!="#{id}", name!="#{id}", required).b-input.b-input_big.b-input_indent_small

  .b-form__fieldset.b-form__fieldset-bottom
    label.b-form__label Дата рождения
    select(name!="#{day}", id!="#{day}", class!="b-select #{class1}", mod="days", required)
      option(selected="selected", disabled) День
      - for (var i = 1; i <= 31; ++i) {
        option(value="#{i}")= i
      - }

    select(name!="#{month}", id!="#{month}", class!="b-select #{class2}", mod="month", required)
      option(selected="selected", disabled) Месяц
      option(value="1") Январь
      option(value="2") Февраль
      option(value="3") Март
      option(value="4") Апрель
      option(value="5") Май
      option(value="6") Июнь
      option(value="7") Июль
      option(value="8") Август
      option(value="9") Сентябрь
      option(value="10") Октябрь
      option(value="11") Ноябрь
      option(value="12") Декабрь

    select(name!="#{year}", id!="#{year}", class!="b-select #{class3}", mod="year", required)
      option(selected="selected", disabled) Год
      - for (var i = 1950; i <= 2013; ++i) {
        option(value="#{i}")= i
      - }

  .b-form__fieldset.b-form__fieldset-top
    label.b-form__label.b-form__label_indent Пол
    input(type="radio", name!="#{radionname}", id!="#{male}", value="male", required).b-customInput
    label(for!="#{male}").b-customInput__label М
    input(type="radio", name!="#{radionname}", id!="#{female}", value="female", required).b-customInput
    label(for!="#{female}").b-customInput__label Ж