extends layout/base

block head.title
  title Смена пароля

block body.content

  .b-content.b-popup
    form#js-form_password_change
      h1.b-content__header_m Смена пароля
      a(href="/login.html").b-popup__close
      p Укажите свой логин (e-mail) для получения письма с дальнейшими инструкциями по смене пароля
      .b-form__fieldset
        input(type="email", id="emailrecovery", name="emailrecovery", placeholder="Электронная почта").b-input.b-input_big.b-input_indent_small
      .b-form__fieldset-action-next
        input(type="submit", value="Далее").b-button.b-button_action