extends layout/base

block head.title
  title Настройки профиля

block body.header.tarif
  .b-header__tarif
    span.b-header__tarif__label Вы используете тариф:
    a(href="#") Стандарт

block body.header.login
  .b-header__login
    include layout/header_login

block body.content
  ul.b-menu.b-menu_orgon
    li.b-menu__item
      a(href="#").b-menu__link Наши специалисты
    li.b-menu__item.b-menu__item_current.b-warning.b-warning_menu-item
      a(href="/journal.html").b-menu__link Журнал измерений

  table.b-tabs
    tr#b-tab-tips
      td.b-tab.b-tab-tip.b-tab_current
        a(herf="#").b-tab__link Константинопольский Константин Константинович
      td.b-tab.b-tab-tip
        a(herf="#").b-tab__link Весельковская Александра Валерьевна
      td.b-tab.b-tab-add-link
        a(herf="#").b-tab__link + Добавить

  .b-tab__pages#b-tab__pages
    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        h1.b-content__header-text График здоровья
        .b-content__header-link.js-popup_datapicker-wrapper
          a(href="#").b-popup_datapicker_opener.js-popup_datapicker_opener
            | с 
            span#label-startdate 7 апреля
            |  по 
            span#label-enddate 15 июня 2013
          .b-popup.b-popup_datapicker.js-popup_datapicker
            a(href="#").b-popup__close.js-popup__close
            h3.b-content__popup-header Период
            .l-cols
              .l-col.l-col-1-2
                label.b-form__label(for="start-date") c
                .l-row.l-row_datepicker.l-input_datepicker-wrapper
                  input(type="text", value="7 апреля 2013", name="start-date")#datepicker-startdate.b-input.b-input_datepicker.js-input_datepicker_start
              .l-col.l-col-2-2
                label.b-form__label(for="end-date") по
                .l-row.l-row_datepicker.l-input_datepicker-wrapper
                  input(type="text", value="8 апреля 2013", name="end-date")#datepicker-enddate.b-input.b-input_datepicker.js-input_datepicker_end
            div.b-popup_datapicker-links
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1week За неделю
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-2week За 2 недели
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1month За месяц
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-3month За 3 месяца
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-6month За полгода
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1year За год
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-all За все время

        .b-graph
          .b-graph-health
            .b-graph__axis.b-graph-bars__axis#b-graph-bars__axis
            .b-graph__paper.b-graph-bars__paper#b-graph-bars__paper
          a(href="#").b-graph__arrow.b-graph__arrow_l.js-graph-bars__arrow_l
          a(href="#").b-graph__arrow.b-graph__arrow_r.js-graph-bars__arrow_r

      section.b-content.b-content_fullwidth.b-content_indent
        select(name="measures", id="measures", class="b-select js-select_measures", mod="minimal")
          option(value="1") Замеры с комментариями
          option(value="2", selected) Замеры с комментариями наблюдателей
          option(value="3") Замеры с комментариями наблюдателя 1
          option(value="4") Замеры с комментариями наблюдателя 2 
          option(value="all") Все замеры
        h1.b-content__header Измерения

        table.b-measures
          thead
            tr
              th.b-measures__th.b-measures__health-date
                a(href="#").b-measures__link.b-measures__link_desc Дата и время замера
              th.b-measures__th.b-measures__health
                span.b-measures__link.b-measures__link Здоровье
              th.b-measures__th.b-measures__comment
                span.b-measures__link.b-measures__link Текст комментария
              th.b-measures__th.b-measures__comment-date
                a(href="#").b-measures__link.b-measures__link_desc Дата и время комментария
          include layout/measures

        .b-measures__pager
          .b-measures__pager__prev
            a(href="#", rel="prev") <  Предыдущая
          .b-measures__pager__pages
            span.b-measures__pager__label Страница:
            a(href="#").b-measures__pager__link 1
            a(href="#").b-measures__pager__link.b-measures__pager__link_current 2
            a(href="#").b-measures__pager__link 3
            a(href="#").b-measures__pager__link 4
          .b-measures__pager__next
            a(href="#", rel="next") Следующая  >

          .b-measures__pager__switch
            select(name="measures-count", id="measures-count", class="b-select js-select_measures-count", mod="minimal")
              option(value="1") 10
              option(value="2", selected) 20
              option(value="3") 50
              option(value="4") 100
            span.b-measures__pager__switch-label Записей на странице:

    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        p Страница инструкций заглушка 1

