extends layout/base

block head.title
  title Вход в личный кабинет

block body.header
  header.b-header.b-header_login
    a(href="/").b-header__logo
      img(src="tmp/logo.png")
    .b-header__info
      span.b-header__info-phone 8 800 775 06 06
      span.b-header__info-cond Бесплатно и круглосуточно
    block body.header.tarif
    block body.header.login

block body.content

  .b-content.b-popup
    form#js-form_login_cabinet
      h1.b-content__header_m Вход в личный кабинет
      .b-form__fieldset
        label.b-content__form-label(for="useremail") Ваш email
        .l-row.l-row_fieldset-top
          input(type="email", placeholder="Введите адрес электронной почты",
            id="useremail", name="useremail", autofocus,
          ).b-input.b-input_big.b-input_indent_small
      .b-form__fieldset
        label.b-content__form-label(for="userpass") Ваш пароль
        .l-row.l-row_fieldset-top
          input(type="password", placeholder="Введите ваш пароль",
            id="userpass", name="userpass"
          ).b-input.b-input_big.b-input_indent_small

      .b-form__fieldset
        input(type="checkbox", name="rememberme", id="rememberme").b-customInput
        label(for="rememberme").b-customInput__label
          span.b-customInput__label-txt Запомнить меня
        a(href="/changepwd.html").b-content__forgetpass-link Я забыл пароль
      .b-form__fieldset.b-form__fieldset-action
        input(type="submit", value="Войти").b-button.b-button_action
        a(href="/register.html").b-content__register-link Зарегистрироваться

block body.popups