extends layout/base

block head.title
  title Главная страница

block body.header.tarif
  .b-header__tarif
    span.b-header__tarif__label Вы используете тариф:
    a(href="#") Стандарт

block body.header.login
  .b-header__login
    include layout/header_login

block body.content
  ul.b-menu.b-menu_orgon
    li.b-menu__item
      a(href="#").b-menu__link Наши специалисты
    li.b-menu__item.b-warning.b-warning_menu-item
      a(href="/journal.html").b-menu__link Журнал измерений

  script(type="text/html-template", id="newtab_template")
    td.b-tab.b-tab-tip
      a(href="#", title!="<%=title%>").b-tab__link <%=title%>
  script(type="text/html-template", id="newpages_template")
    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        h1 <%=title%>
        p <%=text%>

  table.b-tabs
    tr#b-tab-tips
      td.b-tab.b-tab-tip.b-tab_current
        a(href="#", title="Константинопольский Константин Константинович").b-tab__link Константинопольский Константин Константинович
      td.b-tab.b-tab-tip
        a(href="#", title="Весельковская Александра Валерьевна").b-tab__link Весельковская Александра Валерьевна
      td.b-tab.b-tab-tip
        a(href="#", title="Весельковская Александра Валерьевна").b-tab__link Весельковская Александра Валерьевна
      td.b-tab.b-tab-add-link
        a(href="#").b-tab__link.js-popup_add-user + Добавить

  .b-tab__pages#b-tab__pages
    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        include layout/health_legenda

        .b-health-list.b-health-list_indent
          h1.b-content__header-text.b-health-list__header Последнее измерение 
          span.b-content__header-addition 10 минут назад
          include layout/health_list

        .b-health__about.b-health__about_indent
          span.b-health__about__number.b-health__about__number_green 5
          .b-health__about__description
            h3.b-health__about__header Общее состояние здоровья
            .b-health__about__txt
              p На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие».
                br
                | Рекомендуется повышенный контроль за состоянием органа и обращение к 
                strong специалисту «ЛОР».

        h2.b-content__header Комментарии
        .b-health__comments
          .b-health__comment.b-health__comment_doctor
            .b-health__comment__txt
              span.b-health__comment__author А. А. Александров:
              | Запишитесь ко мне на прием, посмотрим на всякий случай
            .b-health__comment__datetime
              span.b-health__comment__date 15 июня 2013
              span.b-health__comment__time 12:25
          .b-health__comment
            .b-health__comment__txt Я думаю это было просто легкое недомагание и все!
            .b-health__comment__datetime
              span.b-health__comment__date 15 июня 2013
              span.b-health__comment__time 12:25
        a(href="#").b-button.b-button_main.b-button_aside Добавить комментарий
        a(href="#") Удалить этот замер

      section.b-content.b-popup.b-popup_fullwidth.b-popup_indent
        h1.b-content__header-text График здоровья
        .b-content__header-link.js-popup_datapicker-wrapper
          a(href="#").b-popup_datapicker_opener.js-popup_datapicker_opener
            | с 
            span#label-startdate 7 апреля
            |  по 
            span#label-enddate 15 июня 2013
          .b-popup.b-popup_datapicker.js-popup_datapicker
            a(href="#").b-popup__close.js-popup__close
            h3.b-content__popup-header Период
            .l-cols
              .l-col.l-col-1-2
                label.b-form__label(for="start-date") c
                .l-row.l-row_datepicker.l-input_datepicker-wrapper
                  input(type="text", value="7 апреля 2013", name="start-date")#datepicker-startdate.b-input.b-input_datepicker.js-input_datepicker_start
              .l-col.l-col-2-2
                label.b-form__label(for="end-date") по
                .l-row.l-row_datepicker.l-input_datepicker-wrapper
                  input(type="text", value="8 апреля 2013", name="end-date")#datepicker-enddate.b-input.b-input_datepicker.js-input_datepicker_end
            div.b-popup_datapicker-links
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1week За неделю
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-2week За 2 недели
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1month За месяц
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-3month За 3 месяца
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-6month За полгода
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1year За год
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-all За все время

        .b-graph
          .b-graph-health
            .b-graph__axis.b-graph-bars__axis#b-graph-bars__axis
            .b-graph__paper.b-graph-bars__paper#b-graph-bars__paper
          a(href="#").b-graph__arrow.b-graph__arrow_l.js-graph-bars__arrow_l
          a(href="#").b-graph__arrow.b-graph__arrow_r.js-graph-bars__arrow_r

      section.b-content.b-content_fullwidth.b-content_indent
        h1.b-content__header Последние комментарии

        table.b-measures.b-measures_listing
          thead
            tr
              th.b-measures__th.b-measures__health-date
                a(href="#").b-measures__link Дата и время замера
              th.b-measures__th.b-measures__health
                span.b-measures__link.b-measures__link Здоровье
              th.b-measures__th.b-measures__comment
                span.b-measures__link.b-measures__link Текст комментария
              th.b-measures__th.b-measures__comment-date
                a(href="#").b-measures__link Дата и время комментария
          include layout/measures

        a(href="/journal.html") Перейти в журнал
    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        p Страница инструкций заглушка 1
    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        p Страница инструкций заглушка 2



block body.popups
  form#b_popup_add_user.mfp-hide.b-popup
    h1.b-content__header Добавить пользователя

    +userinfo("adduser_name", "Имя пользователя", "", "adduser_day", "adduser_month", "adduser_year", "adduser_choose-sex", "adduser_male", "adduser_female", "js-select_adduser_day", "js-select_adduser_month", "js-select_adduser_year" )
    input(type="submit", value="Добавить пользователя").b-button.b-button_main.b-button_top