extends layout/base

block head.title
  title Cтраница измерений

block body.header.tarif
  .b-header__tarif
    span.b-header__tarif__label Вы используете тариф:
    a(href="#") Стандарт

block body.header.login
  .b-header__login
    include layout/header_login

block body.content
  ul.b-menu.b-menu_orgon
    li.b-menu__item
      a(href="#").b-menu__link Наши специалисты
    li.b-menu__item.b-warning.b-warning_menu-item
      a(href="/journal.html").b-menu__link Журнал измерений

  .b-content.b-content__nav
    a(href="/journal.html").b-content__nav__back < Вернуться к журналу

  table.b-tabs
    tr#b-tab-tips
      td.b-tab.b-tab-tip.b-tab_current
        a(herf="#").b-tab__link Константинопольский Константин Константинович
      td.b-tab.b-tab-tip
        a(herf="#").b-tab__link Весельковская Александра Валерьевна
      td.b-tab.b-tab-add-link
        a(herf="#").b-tab__link + Добавить

  .b-tab__pages#b-tab__pages
    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        include layout/health_legenda

        .b-health-list.b-health-list_indent
          h1.b-content__header-text.b-health-list__header 2 июня 2013, 14:45
          include layout/health_list

        .b-health__about
          span.b-health__about__number.b-health__about__number_green 4
          .b-health__about__description
            h3.b-health__about__header Общее состояние здоровья
            .b-health__about__txt
              p На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие».
                br
                | Рекомендуется повышенный контроль за состоянием органа и обращение к 
                strong специалисту «ЛОР».

      include layout/comments

    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        p Страница инструкций заглушка 1