extends layout/base

block head.title
  title Настройки профиля

include mixins/userinfo

block body.header.tarif
  .b-header__tarif
    span.b-header__tarif__label Вы используете тариф:
    a(href="#") Стандарт

block body.header.login
  .b-header__login
    include layout/header_login

block body.content
  ul.b-menu.b-menu_orgon
    li.b-menu__item
      a(href="#").b-menu__link Наши специалисты
    li.b-menu__item.b-warning.b-warning_menu-item
      a(href="/journal.html").b-menu__link Журнал измерений
  section.b-content.b-popup.b-popup_fullwidth
    h1.b-content__header Мои настройки

    section
      h3.b-content__subheader Часовой пояс
      label.b-form__label(for="timezone") Укажите ваш часовой пояс
      .b-form__fieldset_wrap
        select(name="timezone", id="timezone", class="b-select js-select_options_timezone", mod="big")
          option(value="1") Калинининград, +2 GMT
          option(value="2") Москва, +3 GMT
          option(value="3") Самара, +4 GMT
          option(value="4") Екатеринбург, +5 GMT
          option(value="5") Омск, +6 GMT
          option(value="6") Красноярск, +7 GMT
          option(value="7") Иркутск, +8 GMT
          option(value="8") Якутск, +9 GMT
          option(value="9") Владивосток, +10 GMT
          option(value="10") Магадан, +11 GMT
          option(value="11") Камчатка, +12 GMT

    section.b-content__decorate.b-content__decorate-options-login
      h3.b-content__subheader Параметры входа в систему

      include layout/options_login
      include layout/options_password

    section.b-content__decorate#adduser
      h3.b-content__subheader Введите данные людей, которые будут пользоваться прибором

      script(type="text/html-template", id="adduser_template")
        .b-content__selection.js-form
          table.b-form__table
            tr
              td.b-form__table-label Имя:
              td.b-form__table-value#b-form__addusername-value <%=name%>
            tr
              td.b-form__table-label Дата рождения:
              td.b-form__table-value#b-form__adduserbirth-value <%=birthday%>
            tr
              td.b-form__table-label Пол:
              td.b-form__table-value#b-form__addusersex-value <%=sex%>

          .b-form__caption
            a(href="#").b-form__caption-link.js-form__caption-edit Редактировать
            a(href="#").b-form__caption-link.js-form__caption-delete Удалить
      #b-form-adduser__list

      script(type="text/html-template", id="edituser_template")
        form(action="")#js-form_options_adduser.b-content__selection.b-view__hide
          +userinfo("people_name", "Имя", "Введите имя", "options_adduser_day", "options_adduser_month", "options_adduser_year", "choose-sex", "male", "female", "js-select_options_people1_day", "js-select_options_people1_month", "js-select_options_people1_year")
          input(type="submit", value="Сохранить").b-button.b-button_main.b-button_top

      .b-view.b-view_view
        form(action="")#js-form_options_adduser.b-content__selection.b-view__hide
          +userinfo("people_name", "Имя", "Введите имя", "options_adduser_day", "options_adduser_month", "options_adduser_year", "choose-sex", "male", "female", "js-select_options_people1_day", "js-select_options_people1_month", "js-select_options_people1_year")
          input(type="submit", value="Сохранить").b-button.b-button_main.b-button_top

        a(href="#").b-view__show.js-view__edit#js-form_options_adduser_btn Добавить пользователя

    section.b-content__decorate#contacts
      h3.b-content__subheader Мои номера

      script(type="text/html-template", id="addnumber_template")
        form(action="").b-content__selection.b-content__selection_indent_small.b-view.b-view_view.js-form.js-form_options_addnumbers
          .l-layout__item.l-layout__item_phonenumbers
            .l-layout__item__inputs
              span.b-form__labeled-value.b-view__show.js-form_options_addnumbers_newphone <%=phone%>
              input(type="tel", id="new_phone", value="", name="new_phone", placeholder="+7 (***) ***-**-**", required).b-input.b-input_big.js-input_mask_phone.b-view__hide.js-form_options_addnumbers_phone_input
            .l-layout__item__btns
              input(type="submit", value="Сохранить").b-button.b-button_main.b-button_main_small.b-view__hide
            .l-layout__item__links
              a(href="#").b-view__hide.js-view__view Отмена

            .b-form__action-menu.b-view__show
              a(href="#").b-form__caption-link.js-view__edit Редактировать
              a(href="#").b-form__caption-link.js-form__caption-delete Удалить

      #b-form-addnumbers__list

      form(action="")#js-form_options_addnewnumber
        .l-row.l-row_field-bottom
          input(type="tel", id="my_new_phone", name="my_new_phone", placeholder="+7 (***) ***-**-**", required).b-input.b-input_big.b-input_indent_medium.js-input_mask_phone
        a(href="#").js-form_options_addnewnumber_submit Добавить этот номер

    section.b-content__decorate_last#addwatcher
      h3.b-content__subheader Наблюдатели

      script(type="text/html-template", id="addwatcher_template")
        form(action="").b-content__selection.b-content__selection_indent_small.b-view.b-view_view.js-form.js-form_options_addwatcher
          .l-layout__item.l-layout__item_watchers
            .l-layout__item__labels.b-view__show
              span.b-form__labeled-value_small.b-view__show Лечащий врач:
              span.b-view__show.b-form__labeled-link.js-form_options_addwatcher_newemail <%=email%>
            .l-layout__item__inputs.b-view__hide
              input(type="email", id="watcher_email", name="watcher_email", value="aleksandrov@aleksandrov.ru", required).b-input.b-input_big.b-view__hide.js-form_options_addwatcher_phone_input
            .l-layout__item__btns
              input(type="submit", value="Сохранить").b-button.b-button_main.b-button_main_small.b-view__hide
            .l-layout__item__links
              a(href="#").b-view__hide.js-view__view Отмена

            .b-form__action-menu.b-view__show
              a(href="#").b-form__caption-link.js-view__edit Редактировать
              a(href="#").b-form__caption-link.js-form__caption-delete Удалить

      #b-form-addwatchers__list

      form(action="")#js-form_options_addnewwatcher
        .l-row.l-row_field-bottom
          input(type="email", id="new_watcher_email", name="new_watcher_email", required, value="").b-input.b-input_big.b-input_indent_medium
        a(href="#").js-form_options_addnewwatcher_submit Добавить наблюдателя