extends layout/base

block head.title
  title Настройки профиля

block body.header.tarif
  .b-header__tarif
    span.b-header__tarif__label Вы используете тариф:
    a(href="#") Стандарт

block body.header.login
  .b-header__login
    include layout/header_login_watcher

block body.content
  ul.b-menu.b-menu_orgon
    li.b-menu__item
      a(href="#").b-menu__link Наши специалисты
    li.b-menu__item.b-warning.b-warning_menu-item
      a(href="/journal.html").b-menu__link Журнал измерений
  section.b-content.b-popup.b-popup_fullwidth
    h1.b-content__header Мои настройки

    section
      h3.b-content__subheader Параметры входа в систему

      include layout/options_login
      include layout/options_password

      section.b-content__decorate_last.b-view.b-view_view
        h3.b-content__subheader Ваше имя
        form#js-form_options_yourname
          .b-form__name-change.b-form__fieldset_wrap.b-view__show
            input(type="text", value="А.А. Петровский", id="user_name", name="user_name", disabled).b-input.b-input_big
            a(href="#").b-form__input-editlink.js-view__edit Изменить

          .b-content__selection.b-content__selection_indent.b-view__hide
            .l-layout__item
              .l-layout__item__inputs
                input(type="text", id="user_name_edit", name="user_name_edit", value="А.А. Петровский12312").b-input.b-input_big
              .l-layout__item__btns
                input(type="submit", value="Сохранить").b-button.b-button_main.b-button_main_small#js-form_options_yourname_save
              .l-layout__item__links
                a(href="#").js-view__view Отмена