extends layout/base

block head.title
  title Cтраница органов

block body.header.tarif
  .b-header__tarif
    span.b-header__tarif__label Вы используете тариф:
    a(href="#") Стандарт

block body.header.login
  .b-header__login
    include layout/header_login

block body.content
  ul.b-menu.b-menu_orgon
    li.b-menu__item
      a(href="#").b-menu__link Наши специалисты
    li.b-menu__item.b-warning.b-warning_menu-item
      a(href="/journal.html").b-menu__link Журнал измерений

  .b-content.b-content__nav
    a(href="/journal.html").b-content__nav__back < Вернуться к журналу

  script(type="text/html-template", id="newtab_template")
    td.b-tab.b-tab-tip
      a(href="#", title!="<%=title%>").b-tab__link <%=title%>
  script(type="text/html-template", id="newpages_template")
    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        h1 <%=title%>
        p <%=text%>

  table.b-tabs
    tr#b-tab-tips
      td.b-tab.b-tab-tip.b-tab_current
        a(href="#", title="Константинопольский Константин Константинович").b-tab__link Константинопольский Константин Константинович
      td.b-tab.b-tab-tip
        a(href="#", title="Весельковская Александра Валерьевна").b-tab__link Весельковская Александра Валерьевна
      td.b-tab.b-tab-tip
        a(href="#", title="Весельковская Александра Валерьевна").b-tab__link Весельковская Александра Валерьевна
      td.b-tab.b-tab-add-link
        a(href="#").b-tab__link.js-popup_add-user + Добавить

  .b-tab__pages#b-tab__pages
    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        include layout/health_legenda

        .b-health-list.b-health-list_indent.js-health-list_organs
          h1.b-content__header-text.b-health-list__header 2 июня 2013, 14:45

          include layout/health_list

        .b-health__about-organs#b-health__about-organs
          a(href="#").b-health__about-organ__toggle Скрыть описание органов
          script(type="text/html-template", id="organ_about_template")
            .b-health__about-organ.b-health__about-organ_hidden(data-organ-id!="<%=organ_id%>")
              .b-health__about-organ__params
                .b-health-icon.b-health-icon_green.b-health-list__hp <%=organ_hp%>
                .b-health-icon.b-health-icon_yellow.b-health-list__safety <%=organ_safety%>
              .b-health__about-organ__about
                h3.b-content__headertext <%=organ_name%>
                p.b-health__about-organ__txt <%=organ_text%>
          .b-health__about-organ(data-organ-id="15")
            .b-health__about-organ__params
              .b-health-icon.b-health-icon_green.b-health-list__hp 5
              .b-health-icon.b-health-icon_yellow.b-health-list__safety 3
            .b-health__about-organ__about
              h3.b-content__headertext Простата
              p.b-health__about-organ__txt На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие».Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».

      section.b-content.b-popup.b-popup_fullwidth.b-popup_indent
        h1.b-content__header-text Здоровье
        .b-content__header-link.js-popup_datapicker-wrapper
          a(href="#").b-popup_datapicker_opener.js-popup_datapicker_opener За 3 месяца
          .b-popup.b-popup_datapicker.js-popup_datapicker
            a(href="#").b-popup__close.js-popup__close
            h3.b-content__popup-header Период
            .l-cols
              .l-col.l-col-1-2
                label.b-form__label(for="start-date-health") c
                .l-row.l-row_datepicker.l-input_datepicker-wrapper
                  input(type="text", value="7 апреля 2013", name="start-date-health")#datepicker-startdate-health.b-input.b-input_datepicker.js-input_datepicker_start
              .l-col.l-col-2-2
                label.b-form__label(for="end-date-health") по
                .l-row.l-row_datepicker.l-input_datepicker-wrapper
                  input(type="text", value="8 апреля 2013", name="end-date-health")#datepicker-enddate-health.b-input.b-input_datepicker.js-input_datepicker_end
            div.b-popup_datapicker-links
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1week За неделю
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-2week За 2 недели
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1month За месяц
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-3month За 3 месяца
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-6month За полгода
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1year За год
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-all За все время

        .b-graph
          .b-graph-health.b-graph-health_lines
            .b-graph__axis.b-graph-lines__axis-l#b-graph-lines__axis-l
            .b-graph__axis.b-graph-lines__axis-r#b-graph-lines__axis
            .b-graph__wrapper_lines
              .b-graph__axis.b-graph-lines__axis-b#b-graph-lines__axis-b
              .b-graph__paper.b-graph-lines-bg__paper#b-graph-lines-bg__paper
              .b-graph__paper.b-graph-lines__paper#b-graph-lines__paper
          a(href="#").b-button.b-button_print.js-button_print Распечатать

      section.b-content.b-popup.b-popup_fullwidth.b-popup_indent
        h1.b-content__header-text Безопасность
        .b-content__header-link.js-popup_datapicker-wrapper
          a(href="#").b-popup_datapicker_opener.js-popup_datapicker_opener За 3 месяца
          .b-popup.b-popup_datapicker.js-popup_datapicker
            a(href="#").b-popup__close.js-popup__close
            h3.b-content__popup-header Период
            .l-cols
              .l-col.l-col-1-2
                label.b-form__label(for="start-date-safety") c
                .l-row.l-row_datepicker.l-input_datepicker-wrapper
                  input(type="text", value="7 апреля 2013", name="start-date-safety")#datepicker-startdate-safety.b-input.b-input_datepicker.js-input_datepicker_start
              .l-col.l-col-2-2
                label.b-form__label(for="end-date-safety") по
                .l-row.l-row_datepicker.l-input_datepicker-wrapper
                  input(type="text", value="8 апреля 2013", name="end-date-safety")#datepicker-enddate-safety.b-input.b-input_datepicker.js-input_datepicker_end
            div.b-popup_datapicker-links
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1week За неделю
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-2week За 2 недели
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1month За месяц
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-3month За 3 месяца
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-6month За полгода
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-1year За год
              a(href="#").b-popup_datapicker-link.js-popup_datapicker-all За все время

        .b-graph
          .b-graph-health.b-graph-health_lines
            .b-graph__axis.b-graph-lines__axis-l#b-graph-lines__axis-l_safety
            .b-graph__axis.b-graph-lines__axis-r#b-graph-lines__axis_safety
            .b-graph__wrapper_lines
              .b-graph__axis.b-graph-lines__axis-b#b-graph-lines__axis-b_safety
              .b-graph__paper.b-graph-lines-bg__paper#b-graph-lines-bg__paper_safety
              .b-graph__paper.b-graph-lines__paper#b-graph-lines__paper_safety
          a(href="#").b-button.b-button_print.js-button_print Распечатать

      include layout/comments

    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        p Страница инструкций заглушка 1
    .b-tab__page
      section.b-content.b-popup.b-popup_fullwidth
        p Страница инструкций заглушка 2



block body.popups
  form#b_popup_add_user.mfp-hide.b-popup
    h1.b-content__header Добавить пользователя

    +userinfo("adduser_name", "Имя пользователя", "", "adduser_day", "adduser_month", "adduser_year", "adduser_choose-sex", "adduser_male", "adduser_female", "js-select_adduser_day", "js-select_adduser_month", "js-select_adduser_year" )
    input(type="submit", value="Добавить пользователя").b-button.b-button_main.b-button_top