extends layout/base

block head.title
  title Регистрация

include mixins/userinfo

block body.content
  .b-content.b-popup.b-popup_fullwidth
    h1.b-content__header Регистрация
    a(href="/login.html").b-popup__close
    p.b-content__alert Несколько человек могут пользоваться одним прибором с одним или несколькими мобильными телефонами. В случае, если каждый пользуется прибором с личным телефоном для получения своих замеров, рекомендуем пройти регистрацию каждому пользователю отдельно.

    form(action="").b-content__set#js-popup__registration
      .b-content__set__item
        h3.b-content__subheader-small Укажите эл.почту и придумайте пароль
        .b-content__set__txt
          p Адрес будет использоваться исключительно в ваших интересах.
            br
            | Мы не рассылаем спам и не передаем адреса эл.почты третьим лицам.

        .b-form__fieldset_wrap
          .l-row.l-row_field-bottom
            input(type="email", placeholder="Электронная почта", name="registration-name", required, class="b-form__error").b-input.b-input_big.b-input_indent_small
            label(for="registration-name", class="b-form__error") Данная почта уже используется, введите другой адрес или воспользуйтесь функцией восстановления пароля
          .l-row
            input(type="password", placeholder="Пароль", name="registration-pwd", required).b-input.b-input_big.b-input_indent_small

      .b-content__set__item
        h3.b-content__subheader-small Укажите, сколько человек будет пользоваться устройством
        .b-content__set__txt
          p Позже вы всегда сможете поменять этот параметр.

        input(type="radio", name="amount", id="amount-1", value="1", checked="checked").b-customInput
        label(for="amount-1").b-customInput__label 1
        input(type="radio", name="amount", id="amount-2", value="2").b-customInput
        label(for="amount-2").b-customInput__label 2
        input(type="radio", name="amount", id="amount-3", value="3").b-customInput
        label(for="amount-3").b-customInput__label 3
        input(type="radio", name="amount", id="amount-4", value="4").b-customInput
        label(for="amount-4").b-customInput__label 4
        input(type="radio", name="amount", id="amount-5", value="5").b-customInput
        label(for="amount-5").b-customInput__label 5
        input(type="radio", name="amount", id="amount-6", value="6").b-customInput
        label(for="amount-6").b-customInput__label 6
        input(type="radio", name="amount", id="amount-7", value="7").b-customInput
        label(for="amount-7").b-customInput__label 7

      .b-content__set__item
        h3.b-content__subheader-small Введите данные
        .b-content__set__txt Данные пола и возраста нужны для точной аналитики.

        script(type="text/html-template", id="adduser_template")
          .b-content__selection
            span.b-form__caption Пользователь <%=user_number%>
            +userinfo("name-<%=user_number%>", "Имя пользователя", "", "day-<%=user_number%>", "month-<%=user_number%>", "year-<%=user_number%>", "choose-sex-<%=user_number%>", "male-<%=user_number%>", "female-<%=user_number%>", "js-select_user<%=user_number%>_day", "js-select_user<%=user_number%>_month", "js-select_user<%=user_number%>_year" )

        #b-form-addusers__list
          .b-content__selection
            span.b-form__caption Пользователь 1
            +userinfo("name-1", "Имя пользователя", "", "day-1", "month-1", "year-1", "choose-sex-1", "male-1", "female-1", "js-select_user1_day", "js-select_user1_month", "js-select_user1_year" )

      .b-content__set__item
        h3.b-content__subheader-small Укажите номер телефона для Ваших изменений
        .b-content__set__txt Номер телефона нужен для передачи аналитических данных.

        script(type="text/html-template", id="addnumber_register_template")
          .b-content__selection.b-content__selection_indent_small.b-view.b-view_view.js-form.js-form_options_addnumbers
            .l-layout__item.l-layout__item_phonenumbers
              .l-layout__item__inputs
                span.b-form__labeled-value.b-view__show.js-form_addnumbers_newphone <%=phone%>
                input(type="tel", id="new_phone", value!="<%=phone%>", name="new_phone", placeholder="+7 (***) ***-**-**", required).b-input.b-input_big.js-input_mask_phone.b-view__hide.js-form_addnumbers_phone_input
              .l-layout__item__btns
                a(href="#").b-button.b-button_main.b-button_main_small.b-view__hide.js-form__savenumber-btn Сохранить
              .l-layout__item__links
                a(href="#").b-view__hide.js-view__view Отмена

              .b-form__action-menu.b-view__show
                a(href="#").b-form__caption-link.js-view__edit Редактировать
                a(href="#").b-form__caption-link.js-form__delete-item Удалить
        #b-form-addnumbers__list

        .b-form__fieldset_wrap#js-form_addnewnumber
          .l-row.l-row_field-bottom
            input(type="tel", id="my_new_phone", name="my_new_phone", placeholder="+7 (***) ***-**-**", required).b-input.b-input_big.b-input_indent_medium.js-input_mask_phone
          a(href="#").js-form_addnewnumber_submit Добавить еще номер телефона

      .b-content__set__action
        input(type="submit", value="Зарегистрироваться").b-button.b-button_main