extends layout/base

block head.title
  title Письмо для восстановления пароля

block body.content

  .b-content.b-popup
    h1.b-content__popup-header Письмо со ссылкой
      br
      | для восстановления пароля 
      br
      | отправлено на 
      span.b-popup__txt Pikcher.box@yandex.ru
    a(href="/login.html").b-popup__close
    p.b-popup__msg-txt Это окно закроется автоматически через 5 секунд
    a(href="/login.html").b-button.b-button_action Закрыть