.b-tabs
	overflow: hidden;
	margin-right: auto;
	margin-bottom: -7px;
	margin-left: auto;
	width: columns-width(12) + 2*$gridGutterWidth;
	height: 45px;
	box-shadow: -3px 4px 5px -3px rgba(0,0,0,0.21);
	table-layout: fixed;
	white-space: nowrap;

	@media $wide
		&
			width: columns-width(18) + 2*$gridGutterWidth;
	@media $normal
		&
			width: columns-width(12) + 2*$gridGutterWidth;
	@media $tablet
		&
			width: columns-width(9) + 2*$gridGutterWidth;


.b-tab
	cursor: pointer;
	@media print
		display: none;

	&__link
		position: relative;
		display: inline-block;
		overflow: hidden;
		box-sizing: border-box;
		padding: 0 0 0 19px;
		width: 100%;
		height: 42px;
		color: #007cb5;
		text-decoration: underline;
		white-space: nowrap;
		letter-spacing: -0.02em;
		font-size: 15px;
		line-height: 42px;

	// &-tip
	&-tip &__link
		border-radius: 7px 7px 0 0;
		background: #e9ece1;
		box-shadow: inset 1px -2px 4px rgba(0,0,0,0.12);
	&-tip &__link:after
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		display: block;
		width: 30px;
		height: 38px;
		background: #f1f3eb;
		background: linear-gradient(left, rgba(233,236,225,0.4), rgba(233,236,225,1) 60%);
		content: "";

	&-add-link
		min-width: 112px;

	&_current
		cursor: default;
		text-decoration: none;

		@media print
			display: block;

	&_current &__link
		background: $lightgreen;
		box-shadow: 0 2px 5px rgba(0,0,0,0.21);
		color: #727559;
		text-decoration: none;
		font-weight: bold;
	&_current &__link:after
		background: #f2f5ea;
		background: linear-gradient(left, rgba(244,245,234,0.4), rgba(244,245,234,1) 60%);


	&__page:first-child
		display: block;
	&__page
		display: none;