.b-select_mod
  &_days
  &_month
    float: left;
    margin-right: 10px;
  &_days
    width: 71px;
  &_month
    width: 113px;
  &_year
    width: 91px;
    float: left;

  &_big .b-select__toggle
    min-width: 296px !important;
    max-width: 100%;
  &_big
    width: 100%;

  &_minimal
    float: right;
    margin-top: 0;
    outline: 1px solid red;
    border: none;
    box-shadow: none;
  &_minimal .b-select__toggle
    padding: 7px 25px 10px 7px;
    font-size: 13px;
  &_minimal .b-select__toggle:after
    top: 0;
    font-size: 7px;
    line-height: 36px;

  &_minimal .b-select__options
    box-shadow: none;
  &_minimal .b-select__options-inner
    padding-bottom: 9px;
    border-right: 1px solid #bdbdad;
    border-bottom: 1px solid #bdbdad;
    border-left: 1px solid #bdbdad;

.b-select
  &_error
    border: 1px solid red;


select.b-form__error + .b-select
  border: 1px solid red;

.b-form__error + .b-customInput__label
  border: 1px solid red;
