// font analogs list http://my.opera.com/area42/blog/css-font-matching-windows-mac-and-linux
// for more fonts see http://www.apaddedcell.com/web-fonts , http://www.ampsoft.net/webdesign-l/WindowsMacFonts.html

$fontArial       = Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
$fontCourier     = "Courier New", Courier, FreeMono, "Nimbus Mono L", "Liberation Mono", monospace;
$fontGeorgia     = Georgia, "Bitstream Charter", "Century Schoolbook L", "Liberation Serif", Times, serif;
$fontLucidia     = "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;
$fontLucidiaMono = "Lucida Console", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", monospace;
$fontPalatino    = Palatino, "Palatino Linotype", Palladio, "URW Palladio L", "Book Antiqua", "Liberation Serif", Times, serif;
$fontTahoma      = Tahoma, Geneva, "DejaVu Sans Condensed", sans-serif;
$fontTimes       = "Times New Roman", Times, "Nimbus Roman No9 L", "FreeSerif", "Liberation Serif", serif;
$fontVerdana     = Verdana, "Bitstream Vera Sans", "DejaVu Sans", "Liberation Sans", Geneva, sans-serif;
$fontCalibri     = "Calibri", "Lucida Grande", Lucida, sans-serif;


$fontSerif = $fontGeorgia;
$fontSans  = $fontArial;
$fontMono  = $fontCourier;

$verticalRythmBase = 18px;

$baseFontSize   = 13px;
$baseFontFamily = $fontCalibri;
$baseLineHeight = ($verticalRythmBase/$baseFontSize)em;
$baseTextColor  = #181818;
$baseBackground = #fff;
$baseHrColor    = #ccc;

$selectionBG = #b3d4fc;


// Common colors
$blue   = #007cb5;
$grey   = #787878;
$red    = #ee5f53;
$darkred= #c42000;
$green  = #82ad00;
$lightgreen  = #f1f3eb;
$mediumgreen = #d8dec7;
$darkgreen   = #858575;
$greenText   = #6d9100;
$haki        = #727559;


redColor    = #f75c00;
orangeColor = #f69700;
yellowColor = #fecc09;
lgreenColor = #bcd300;
greenColor  = #94c400;


calibri()
    font-family: $fontCalibri;

smoothing()
    -webkit-font-smoothing: antialiased;

// Media Queries
// tablet |768| normal |1440| wide
$tabletWidth = 768px;
$normalWidth = 960px;
$wideWidth   = 1440px;
$tablet = "screen and (max-width: " + $normalWidth + ")";
$normal = "screen and (min-width: " + ( $normalWidth + 1 ) + ") and (max-width: " + $wideWidth + ")";
$wide   = "screen and (min-width: " + ( $wideWidth + 1 ) + ")";


// Grid
$gridColumnWidth = 60px;
$gridGutterWidth = 20px;

columns-l( $count )
    width: $gridColumnWidth * $count + $gridGutterWidth * ( $count - 1 );
    margin-right: $gridGutterWidth;
    float: left;
    outline: 1px solid red;
columns-r( $count )
    width: $gridColumnWidth * $count + $gridGutterWidth * ( $count - 1 );
    margin-left: $gridGutterWidth;
    float: right;
    outline: 1px solid green;
columns( $count )
    width: $gridColumnWidth * $count + $gridGutterWidth * ( $count - 1 );
    float: left;
    // outline: 1px solid black;
columns-width( $count )
    $gridColumnWidth * $count + $gridGutterWidth * ( $count - 1 );