.b-customInput

	&-list
		margin-top: 7px;

	&_checkbox
	&_radio
		position: relative;
		display: inline-block;

	&__label:focus
	input:focus
		outline: none;
		border: none;

	&_checkbox input
	&_radio input
		position: absolute;
		top: 2px;
		left: 2px;
		margin: 0;
		clip: rect(0,0,0,0);

	&_radio &__label
		display: block;
		padding: 8px 10px;
	&_checkbox &__label
	&_radio &__label
		position: relative;
		margin: 0 10px 0.3em 0;
		border: 1px solid transparent;
		border-radius: 3px;
		text-align: center;
		font-size: 15px;
		line-height: 1;
		cursor: pointer;
		calibri()
		smoothing()

	&_checkbox &__label
		padding: 0px 10px 0 22px;
		sprite($b-customInput_checkbox_sprite)
		background-repeat: no-repeat;
	&_checkbox &__label_checked
		sprite($b-customInput_checkbox_checked_sprite)
		background-repeat: no-repeat;

	&_radio &__label
		display: inline-block;
		text-align: center;
		text-decoration: underline;
		color: $blue;
	&_radio &__label_checked
		box-shadow: inset 0px 1px 4px rgba(0,0,0,0.26);
		color: #787b60;
		font-weight: bold;
		text-decoration: none;

	&_checkbox &__label_focus
	&_radio &__label_focus
		outline: 1px dotted #ccc;

	&__label-txt
		position: relative;
		top: -3px;
		border-bottom: 1px dashed;
		color: $blue;
		white-space: nowrap;
		font-size: 13px;