.b-page
	height: 100%;
	max-height: 100%;

	&__wrapper
		margin: 0 auto;
		padding-bottom: 115px;
		// min-height: 600px;
		min-height: 100%;

		// max-height: 100%;
		// height: 100%;
		clearfix();
		// @media $wide
		// 	&
		// 		border: 1px solid black;
		// 		width: $wideWidth;
		// @media $tablet
		// 	&
		// 		border: 1px solid red;
		// 		width: $tabletWidth;
		position: relative;
		z-index: 1;
		background: #fff url('../tmp/head-bg.png') top right no-repeat;
		box-shadow: 0 2px 5px rgba(0,0,0,0.21);