﻿p {
  margin-bottom: 15px;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-size: 15px;
  line-height: 1.3333333333333333em;
}
h1, h2, h3, h4,h5, h6 {
  text-rendering: optimizelegibility;
  margin-top: 30px;
  margin-bottom: 15px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
{
  margin-top: 0;
}
h1 {
  font: normal 40px/40px 'Scada', Arial, Helvetica, sans-serif;
  color: #386fa4;
}
h2 {
  font: normal 30px/45px 'Scada', Arial, Helvetica, sans-serif;
  color: #386fa4;
}
h3 {
  font: normal 25px/30px 'Scada', Arial, Helvetica, sans-serif;
  color: #386fa4;
}
h4 {
  font: bold 20px/30px 'Scada', Arial, Helvetica, sans-serif;
  color: #386fa4;
}
h5 {
  font: normal 16px/30px 'Scada', Arial, Helvetica, sans-serif;
  color: #386fa4;
}
h6 {
  font: normal 16px/30px 'Scada', Arial, Helvetica, sans-serif;
  color: #386fa4;
}
ul,
ol {
  padding: 0;
  margin: 0 0 30px 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: none;
}
ul > li {
  background: url("/blocks/b-text/ul-marker.png") no-repeat 0 5px;
  padding-left: 19px;
}
ol {
  list-style: decimal;
}
li {
  line-height: 1.3333333333333333em;
  margin-bottom: 15px;
}
dl {
  margin-bottom: 15px;
}
 dt,
dd {
  line-height: 30px;
}
dt {
  font-weight: bold;
  line-height: 29px;
}
dd {
  margin-left: 30px;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
pre {
  padding: 15px 30px;
  margin-bottom: 15px;
  border-left: 2px solid #c00;
  background: #eee;
  font-size: 14px;
}
small {
  font-size: 0.7333em;
}
table {
  margin-bottom: 45px;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  margin-top: 0px;
  width: 100%;
  margin-top: -17px;
}
table:first-child {
  margin-top: 0;
}
th,
td {
  height: 44px;
  font-size: 15px;
  vertical-align: middle;
}
th:first-child,
td:first-child {
  padding-left: 22px;
}
th {
  font-weight: bold;
  text-align: left;
  color: #e30c14;
  height: 40px;
  font-size: 14px;
  border-bottom: 2px solid #e30c14;
}
th:before {
  content: '';
  display: inline-block;
  width: 7px;
  margin-left: -7px;
  background: #e9e9e9;
  height: 7px;
  position: relative;
  top: 20px;
}
th:first-child:before {
  display: none;
}
tr:nth-child(2n) td {
  background: #e4e4e4;
}
address {
  display: block;
  margin-bottom: 15px;
  line-height: 30px;
}
figure {
  float: left;
  padding: 2px;
  background: #fff;
  text-align: center;
  margin-right: 24px;
  margin-top: 4px;
  padding-bottom: 80px;
  position: relative;
  margin-left: 4px;
  margin-bottom: 20px;
}
figure img {
  vertical-align: top;
}
figure figcaption {
  height: 78px;
  line-height: 78px;
  padding: 0 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px;
}
figure span {
  overflow: hidden;
  max-height: 60px;
  display: inline-block;
  font: 15px/1.3333333333333333em 'Scada', Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
a,
a:link,
a:visited {
  color: #3870a5;
}
a:hover {
  color: #e30a13;
}
ol {
  counter-reset: list;
  list-style-type: none;
  margin-left: 24px;
  margin-top: 19.9998px;
  margin-bottom: 45px;
}
ol>li {
  margin-bottom: 19.9998px;
}
ol>li:before {
  counter-increment: list;
  content: counter(list) ". ";
  color: #969696;
  font: bold 20px/20px 'Scada', Arial, Helvetica, sans-serif;
  margin-left: -24px;
  float: left;
}
ol>li:before:before,
ol>li:before:after {
  content: "";
  display: table;
}
ol>li:before:after {
  clear: both;
}
.img,
{
  width: 272px;
  min-height: 236px;
  line-height: 234px;
  text-align: center;
  overflow: hidden;
  background: #fff;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}
img {
  vertical-align: middle;
}