.b-graph
	position: relative;

	&-health
		position: relative;
		overflow: hidden;
		margin-top: -26px;
	&-health_lines
		margin-top: 0;

	&__paper
		position: relative;
		overflow: hidden;

	&__axis
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;

	&-bars__paper
		margin-right: 26px;
		height: 197px;
	&-bars__axis
		width: 1420px;
		height: 197px;
		svg
			shape-rendering: crispEdges;

	&-lines__paper
		z-index: 1;
		height: 250px;
		&:after
			position: absolute;
			top: 0;
			left: -10px;
			z-index: 3;
			display: block;
			width: 52px;
			height: 250px;
			background: url("b-graph-lines_l_fade.png") repeat-y;
			content: "";

	&-lines-bg__paper
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		overflow: hidden;
		margin-left: 15px;
		width: 1264px;
		height: 250px;

	&-lines__axis
		width: 1420px;
		height: 325px;
	&-lines__axis-l
		right: auto;
		left: 0;
		z-index: 5;
		width: 30px;
		height: 325px;
	&-lines__axis-r
		right: 0;
		height: 325px;
		width: 139px;
	&-lines__axis-b
		top: 250px;
		left: 0;
		width: 1420px;
		height: 75px;

	&__arrow_l
		position: absolute;
		top: 72px;
		left: -12px;
		z-index: 5;
		display: block;
		sprite($b-graph__arrow_l_sprite)

		&:hover
			sprite($b-graph__arrow_l_hover_sprite)
	&__arrow_r
		position: absolute;
		top: 72px;
		right: -12px;
		display: block;
		z-index: 5;
		sprite($b-graph__arrow_r_sprite)

		&:hover
			sprite($b-graph__arrow_r_hover_sprite)

	&__wrapper_lines
		position: relative;
		overflow: hidden;
		margin-right: 139px;
		margin-left: 15px;
		height: 325px;
