/*!
 * Pikaday
 * Copyright © 2012 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
width: 189px;
padding: 8px 8px 15px 8px;
    color: #333;
background: #f8f9f6;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-single abbr {
    border-bottom: none;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
padding: 3px 3px 0;
    font-size: 12px;
color: #787b60;
    line-height: 20px;
    font-weight: bold;
    font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    /*filter: alpha(opacity=0);*/
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    sprite($b-pikaday_arrow_r_sprite)
    // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    sprite($b-pikaday_arrow_l_sprite)
    // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
text-align: center;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
}

.pika-table th {
color: #787b60;
    font-size: 11px;
border-bottom: 1px solid #dee0d3;
line-height: 19px;
font-weight: normal;
    text-align: center;
}

.pika-button {
    cursor: pointer;
display: inline-block;
    outline: none;
    border: 0;
margin: 2px 0 0 0;
width: 24px;
padding: 3px 5px;
color: #2586ba;
    font-size: 12px;
    line-height: 15px;
text-align: center;
background: #f8f9f6;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    border: 1px solid #d4d7c9;
    border-radius: 3px;
    background: #ebede6;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.26);
    color: #787b60;
    font-weight: normal;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    // color: #fff !important;
    background: #f8f9f6 !important;
    // box-shadow: none !important;
    // border-radius: 3px !important;
}
