.b-pager
	display: block;

	&__item
		display: inline-block;
		color: $blue;
		text-decoration: underline;
		font-size: 16px;
		padding: 4px 11px;
		margin-right: 10px;
		calibri();

	&__item_active
		background-color: #ebede5;
		box-shadow: inset 0px 1px 4px rgba(0,0,0,.26);
		border-radius: 3px;
		color: #9b9e86;
		text-decoration: none;