.b-input::-webkit-input-placeholder {
   color: $haki;
}
/* Firefox 18- */
.b-input:-moz-placeholder {
   color: $haki;
}
/* Firefox 19+ */
.b-input::-moz-placeholder {
   color: $haki;
}
.b-input:-ms-input-placeholder {  
   color: $haki;
}
.b-input::placeholder {  
   color: $haki;
}

.b-input
	display: block;
	box-sizing: border-box;

	padding: 12px 13px;	
	border: 1px solid #d4d7c9;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
	color: #191919;
	font-size: 15px;
	smoothing();
	&:focus
		outline: none;

	&[disabled]
		background: none;
		color: $haki;
		user-select: none;

	&_row
		width: 100%;


	&_big
		width: 100%;
		max-width: 296px;
		@media $tablet
			max-width: none;

	&_datepicker
		position: relative;
		width: 100%;
		color: #787b60;
		spriteImage($b-input__datepicker-ico_sprite);
		background-repeat: no-repeat;
		background-position: $b-input__datepicker-ico_sprite_offset_x + 170 $b-input__datepicker-ico_sprite_offset_y+10;

// offset_y

.l-input_datepicker-wrapper:after
	position: absolute;
	top: 12px;
	width: 30px;
	height: 30px;
	right: 11px;
	z-index: -1;
	display: block;
	content: '';

	// margin-bottom: 4px;
	// &_indent_small
	// 	margin-top: 7px;
	// &_indent_medium
	// 	margin-bottom: 10px;
	// &_indent
	// 	margin-bottom: 17px;