.b-comments
	margin-top: 27px;
	margin-right: auto;
	margin-left: auto;
	width: columns-width(12) + 2*$gridGutterWidth;
	clearfix();

	@media print
		display: none;

	@media $wide
		width: columns-width(18) + 2*$gridGutterWidth;
	@media $normal
		width: columns-width(12) + 2*$gridGutterWidth;
	@media $tablet
		width: columns-width(9) + 2*$gridGutterWidth;

	&__showall
		display: block;
		padding: 16px 3px;
		background: #eff2e9;
		text-align: center;

	&__header
		margin-left: 18px;

.b-comments-list .b-comment:first-child
	border-top: none;

.b-comment
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 15px;
	border-top: 1px dashed #ced0c4;
	transition: 5s linear background-color;
	background: #fff;

	&__author
		display: block;
		letter-spacing: -0.02em;
		font-weight: bold;
		font-size: 13px;
	&_nested
		padding-left: 62px;
	&_hidden
	&_fresh
		display: none;
	&_fresh
		background: #82ad00;


	&__author-doctor
		color: #ac3500;

	&__txt
		display: block;
		margin-bottom: 13px;
	&__date
		margin-right: 20px;
		color: #7a7a7a;
		letter-spacing: -0.01em;
		font-size: 12px;

	&__add-area
		padding: 12px 21px;
		background: #eff2e9;
		clearfix();
	&__add-area__input
		margin-right: 210px;
	&__add-area__send
		float: right;
		width: 196px;
