.b-measures
	text-align: left;
	calibri();
	margin-left: - $gridGutterWidth;
	width: columns-width(12)+2*$gridGutterWidth;
	border-bottom: 1px solid #c4c6b3;
	white-space: nowrap;
	@media $wide
		&
			width: columns-width(18)+2*$gridGutterWidth;
	@media $normal
		&
			width: columns-width(12)+2*$gridGutterWidth;
	@media $tablet
		&
			width: columns-width(9)+2*$gridGutterWidth;
			table-layout: fixed;

	&_listing
		margin-bottom: 15px;
		border-bottom: 1px dashed #ced0c4;

	&__th
		padding: 6px 17px 6px 6px;
		border-bottom: 1px solid #c4c6b3;
		color: #727559;

	tbody tr
		cursor: pointer;
		&:hover
			background: #f4f6f0;

	tbody &__td
		height: 49px;
		border-top: 1px dashed #ced0c4;
		line-height: 49px;
	tr:first-child &__td
		border-top: none;

	&__health-date
		padding-left: 19px;
		width: 138px;
		white-space: nowrap;
	&__health
		padding-right: 17px;
		width: 64px;
		text-align: center;

	&__comment
		overflow: hidden;
		padding-left: 6px;
		text-overflow: ellipsis;

	thead &__comment-date
		width: 180px;
	tbody &__comment-date
		padding-left: 6px;
		width: 180px;
		color: #7e7e7e;
		font-size: 11px;

	&__comment-date-wrap
		display: inline-block;
		width: 130px;
		vertical-align: top;
		line-height: 49px;
		clearfix();
	&__comment-date_day
		float: left;
	&__comment-date_time
		float: right;

	&__health-date-wrap
		display: inline-block;
		width: 142px;
		vertical-align: top;
		line-height: 49px;
		clearfix();
		smoothing();
	&__health-date_day
		float: left;
		color: #007cb5;
	&__health-date_time
		float: right;
		color: #a8a8a8;

	&__link
		color: #727559;
		text-decoration: none;
		cursor: default;
	&__link_asc
	&__link_desc
		cursor: pointer;
	&__link_asc:after
	&__link_desc:after
		float: right;
		margin-top: 7px;
		margin-right: -8px;
		font-size: 7px;
	&__link_asc:after
		content: "▲";
	&__link_desc:after
		content: "▼";

	&__from
		font-weight: bold;
	&__highpriority
		color: #ac3500;
	&__lowpriority
		color: #c4c6b3;
		font-style: italic;
		smoothing()

	&__pager
		margin-left: -15px;
		padding-top: 9px;
		clearfix();
	&__pager__prev
		margin-top: 9px;
		margin-right: 13px;
		float: left;
	&__pager__pages
		float: left;
		margin-top: 9px;
	&__pager__label
		margin-right: 13px;
	&__pager__link
		margin-right: 13px;
	&__pager__link_current
		color: #727559;
		text-decoration: none;
		cursor: default;
	&__pager__next
		margin-top: 9px;
		float: left;

	&__pager__switch
		float: right;
	&__pager__switch-label
		float: right;
		margin-top: 9px;
		margin-right: 8px;
