.b-header
	margin: 0 auto;
	// padding: 40px 23px 46px;
	padding: 40px 23px 30px;
	width: columns-width(9);
	clearfix()

	@media print
		&
			display: none;

	@media $wide
		&
			width: columns-width(18);
	@media $normal
		&
			width: columns-width(12);
	@media $tablet
		&
			width: columns-width(9);

	&_login
		@media $wide
			&
				width: columns-width(6) + (2*$gridGutterWidth);
		@media $normal
			&
				width: columns-width(6) + (2*$gridGutterWidth);

	&__logo
		columns(3)

	&__info
		float: left;
		width: columns-width(3) - $gridGutterWidth;
		calibri()
	&__info-phone
		display: block;
		margin-top: 1px;
		margin-left: 2px;
		font-weight: bold;
		font-size: 18px;
	&__info-cond
		letter-spacing: -0.03em;
		font-size: 13px;

	&__tarif
		float: left;
		margin-left: 9px;
		width: columns-width(3);
		@media $tablet
			&
				float: right;
				text-align: right;
	&__tarif__label
		display: block;

	&__login
		float: right;
		margin-top: -11px;
		@media $tablet
			&
				float: none;
				clear: both;
				margin-top: 60px;
	&__options
		display: block;
		padding: 5px 32px 13px;
		border-radius: 0 0 4px 4px;
		background: #fff;
		box-shadow: 0px 2px 3px rgba(0,0,0,.24);
		white-space: nowrap;
		line-height: 27px;
		@media $tablet
			&
				line-height: 40px;
	@media $tablet
		&__option a
			line-height: 40px;
			display: inline-block;

	&__dropdown
		box-shadow: 0px 1px 3px rgba(0,0,0,.24);

	&__account_open &__account-wrap
		border-bottom: 1px solid #e2e2e2;
	&__account-wrap
		padding-right: 16px;
		padding-bottom: 9px;
		padding-left: 17px;
	&__account
		position: relative;
		padding: 12px 12px 3px 14px;
		min-width: 160px;
		border-radius: 4px;
		background: white;
		color: $greenText;
		cursor: pointer;
	&__account:after
		position: absolute;
		top: 7px;
		right: 3px;
		display: block;
		width: 25px;
		height: 30px;
		color: #b4b4b4;
		content: "▼";
		text-align: center;
		font-size: 6px;
		line-height: 30px;
	&__account_open
		border-radius: 4px 4px 0 0;
	&__account-pic
		position: absolute;
		top: 15px;
		left: 14px;
		sprite($b-header__login__user-ico_sprite)

	&__account-wrap_watcher
		color #ac3500;
	&__account-wrap_watcher &__account-pic
		spritePosition($b-header__login__watcher-ico_sprite)
