.b-form
	outline: 1px solid red;

.b-form label.b-form__error
.b-form label.b-form__error
	color: $darkred;
	font-style: italic;

input.b-form__error
	float: left;
	border: 1px solid red;
label.b-form__error
	float: right;
	margin-right: -140px;
	display: inline-block;
	vertical-align: middle;
	// line-height: 44px;
	height: 44px;
	// margin-top: 7px;
	width: 130px;
	color: $darkred !important;
	letter-spacing: -0.05em;
	font-size: 11px;
	line-height: 13px;
	clearfix();
label.b-form__error_indent
	margin-top: 15px;

.b-form
	&__caption
	&__label
		display: block;
		color: #787b60;
		letter-spacing: 0.01em;
	&__caption
		position: absolute;
		top: 15px;
		right: $gridGutterWidth;
	&__caption-link
		display: inline-block;
		margin-left: 18px;

	&__label
		clear: both;
		font-size: 13px;
		// margin-top: 9px;
	&__label_indent
		margin-bottom: 7px;

	&__fieldset
		margin: 12px 0;
		width: 296px;
		clearfix();
		@media $tablet
			width: 80%;
	&__fieldset:first-child
		margin-top: 0;
	&__fieldset_wrap
		width: 296px;
		clearfix()
		@media $tablet
			width: 80%;
	&__fieldset-action
		margin-top: 26px;
		margin-bottom: 0;
	&__fieldset-action-next
		margin-top: 20px;
	&__fieldset-top
		margin-top: 6px;
		margin-bottom: 0;
	&__fieldset-bottom
		margin-top: 0;
		margin-bottom: 6px;

	&__login-change
		margin-bottom: 28px;
	&__password-change
		margin-top: 28px;
	&__login-change.b-view_view
	&__password-change.b-view_view
		margin: 0;
	&__name-change
		position: relative;

	&__table
		margin-bottom: -16px;
	&__table-label
		padding-right: 14px;
		padding-bottom: 16px;
		color: #787b60;
		letter-spacing: -0.05em;
		font-weight: bold;
	&__table-value
		padding-bottom: 16px;
		letter-spacing: -0.05em;
		font-weight: bold;

	&__input-editlink
		position: absolute;
		top: 13px;
		left: 100%;
		margin-left: 20px;
		white-space: nowrap;


	&__action-menu
		position: absolute;
		top: 12px;
		right: 0;

	&__labeled-value
		color: #787b60;
		letter-spacing: -0.07em;
		font-weight: bold;
		font-size: 15px;
		calibri();

	&__labeled-value_small
		color: #787b60;
		letter-spacing: -0.07em;
		font-weight: bold;
		font-size: 13px;
		margin-right: 10px;
		calibri();

	&__labeled-link
		color: $blue;
		font-size: 14px;
		letter-spacing: -0.05em;