// 1.1 Classy Buttons
//
// Classy buttons are big clickable buttons,
// great for form actions and primary page actions.
// This is used extensively around the site.
//
// :hover - Buttons when hover
// :disabled - Buttons when disabled
// .disabled - The same as :disabled
//
// Examples:
//    <button class="b-button b-button__{{modifier}}">Button (button.b-button)</button>
//    <a href="#" class="b-button b-button__{{modifier}}">Button (a.b-button)</a>

// 1.2 Primary Buttons
//
// Primary buttons are designed for the main form action,
// use whenever creating something.
//
// :hover - Buttons when hover
//
// Examples:
//     <button class="b-button b-button__primary b-button__{{modifier}}">Button (button.b-button__primary)</button>
//     <a href="#" class="b-button b-button__primary b-button__{{modifier}}">Button (a.b-button__primary)</a>

.b-button
  display: inline-block;
  padding: 8px 15px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  background: #e5e5e5 linear-gradient(top, #f7f7f7, #e5e5e5);
  color: #4c4c4c;
  text-decoration: none;
  font: bold 12px/1 Arial, sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  user-select: none;
  smoothing();
  calibri();

  &:hover
    color: #d64

  &:active
    position: relative;
    top: 1px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.4);

  &:disabled, &.disabled
    color: #999

  @media print
    display: none;


  &_main
  &_action
  &_action_small
    border-radius: 3px;
    background: #82ad00;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 17px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.7);
    &:hover
    &:focus
      color: #fff;
      background: lighten(#82ad00, 5%);
    &:focus
      outline: 1px dotted $grey;
  &_main_small
    padding: 13px 17px;

  &_action
    padding: 14px 17px;
    font-size: 16px;
    @media $tablet
      &
        padding-left: 35px;
        padding-right: 35px;

  &_action_small
    width: 196px;
    height: 43px;
    font-size: 13px;
    @media $tablet
      &
        padding-left: 15px;
        padding-right: 15px;

  &_aside
    margin-right: 20px;
  &_top
    margin-top: 18px;

  &_print
    position: absolute;
    right: -5px;
    bottom: -2px;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.46);
    &:active
      position: absolute;
      top: auto;
      bottom: -3px;