/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
/* 1 */
  -ms-text-size-adjust: 100%;
/* 2 */
  -webkit-text-size-adjust: 100%;
/* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
/* 1 */
  font-size: 100%;
/* 2 */
  margin: 0;
/* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
/* 1 */,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Eric Meyers CSS reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Base elements style */
html,
button,
input,
select,
textarea {
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
  color: #181818;
}
body {
  font-size: 13px;
  line-height: 1.3846153846153846em;
  background: #fff;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* Embedded content */
img {
  vertical-align: middle;
}
/* Lists */
ul {
  list-style: none;
}
/* Forms */
legend {
  white-space: normal;
}
button,
input,
select,
textarea {
  vertical-align: baseline;
}
textarea {
  resize: vertical;
}
/* Tables */
td {
  vertical-align: top;
}
/* Typography */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.3846153846153846em 0;
  padding: 0;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

html {
  height: 100%;
}
a {
  color: #007cb5;
  -webkit-font-smoothing: antialiased;
}
a:hover {
  text-decoration: none;
}
@media print {
  * {
    color: #000 !important;
/* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
/* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
/*filter: alpha(opacity=80);*/
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #ccc;
}
.mfp-preloader a:hover {
  color: #fff;
}
.mfp-s-ready .mfp-preloader {
  display: none;
}
.mfp-s-error .mfp-content {
  display: none;
}
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}
.mfp-close-btn-in .mfp-close {
  color: #333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
}
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid #fff;
  margin-left: 31px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid #fff;
  margin-left: 39px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.6);
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  background: #000;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.6);
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  background: #444;
}
.mfp-figure {
  line-height: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-break: break-word;
  padding-right: 36px;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0,0,0,0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    -o-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -webkit-transform-origin: 100%;
    -moz-transform-origin: 100%;
    -o-transform-origin: 100%;
    -ms-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.mfp-ie7 .mfp-container {
  padding: 0;
}
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
select.b-select {
  position: absolute;
  clip: rect(0,0,0,0);
}
.b-select {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 7px;
  border: 1px solid #d4d7c9;
  -webkit-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
  color: #191919;
  text-align: left;
  font-size: 13px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.b-select:focus {
  outline: 0;
}
.b-select a {
  outline: 0;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.b-select__toggle {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 11px 25px 10px 13px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #333;
  font-size: 15px;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.b-select__toggle:after {
  position: absolute;
  top: 18px;
  right: 0;
  display: block;
  width: 28px;
  height: 100%;
  color: #b4b4b4;
  content: "▼";
  text-align: center;
  font-size: 9px;
}
.b-select_focus .b-select__toggle {
  -webkit-box-shadow: 0 0 5px #40b5e2;
  -webkit-box-shadow: 0 0 5px #40b5e2;
  box-shadow: 0 0 5px #40b5e2;
}
.b-select_open {
  position: relative;
  -webkit-box-shadow: 0 0 5px #40b5e2;
  -webkit-box-shadow: 0 0 5px #40b5e2;
  box-shadow: 0 0 5px #40b5e2;
  z-index: 10;
}
.b-select_open .b-select__toggle {
  display: block;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.b-select_open .b-select__options {
  display: block;
}
.b-select__options {
  position: absolute;
  right: 0;
  display: none;
  margin-top: -1px;
  width: 100%;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.2), inset 0 -10px 14px -10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.2), inset 0 -10px 14px -10px rgba(0,0,0,0.3);
  box-shadow: 0 2px 8px rgba(0,0,0,0.2), inset 0 -10px 14px -10px rgba(0,0,0,0.3);
}
.b-select__options a {
  display: block;
  padding: 6px 15px;
  text-decoration: underline;
}
.b-select__options-inner {
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
  max-height: 400px;
  border-right: 1px solid #d4d7c9;
  border-bottom-width: 2px;
  border-bottom-color: #999;
  border-left: 1px solid #d4d7c9;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  color: #333;
}
.b-select__options-inner li {
  display: block;
}
.b-select__options li:last-child a {
  border-bottom: none;
}
.b-select__options a:hover,
.b-select__option_current a {
  color: #5e5e5e;
  text-decoration: none;
}
.b-select__options .b-select__option_disabled,
.b-select__options .b-select__option_disabled a,
.b-select__option_current a {
  cursor: default;
  text-decoration: none;
}
.b-select__options .b-select__option_disabled a,
.b-select__options .b-select__option_disabled a:hover,
.b-select__options .b-select__option_disabled:hover a {
  color: #bababa;
  cursor: default;
}

.b-button {
  display: inline-block;
  padding: 8px 15px;
  outline: 0;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #e5e5e5 -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(1, #e5e5e5));
  background: #e5e5e5 -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
  background: #e5e5e5 -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
  background: #e5e5e5 -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
  background: #e5e5e5 -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
  background: #e5e5e5 linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
  color: #4c4c4c;
  text-decoration: none;
  font: bold 12px/1 Arial, sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
}
.b-button:hover {
  color: #d64;
}
.b-button:active {
  position: relative;
  top: 1px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.4);
}
.b-button:disabled,
.b-button.disabled {
  color: #999;
}
@media print {
  .b-button {
    display: none;
  }
}
.b-button_main,
.b-button_action,
.b-button_action_small {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #82ad00;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 17px;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.7);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.7);
}
.b-button_main:hover,
.b-button_action:hover,
.b-button_action_small:hover,
.b-button_main:focus,
.b-button_action:focus,
.b-button_action_small:focus {
  color: #fff;
  background: #8fbe00;
}
.b-button_main:focus,
.b-button_action:focus,
.b-button_action_small:focus {
  outline: 1px dotted #787878;
}
.b-button_main_small {
  padding: 13px 17px;
}
.b-button_action {
  padding: 14px 17px;
  font-size: 16px;
}
@media screen and (max-width: 960px) {
  .b-button_action {
    padding-left: 35px;
    padding-right: 35px;
  }
}
.b-button_action_small {
  width: 196px;
  height: 43px;
  font-size: 13px;
}
@media screen and (max-width: 960px) {
  .b-button_action_small {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.b-button_aside {
  margin-right: 20px;
}
.b-button_top {
  margin-top: 18px;
}
.b-button_print {
  position: absolute;
  right: -5px;
  bottom: -2px;
  padding: 12px 20px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.46);
  box-shadow: 0 1px 2px rgba(0,0,0,0.46);
}
.b-button_print:active {
  position: absolute;
  top: auto;
  bottom: -3px;
}

.b-comments {
  margin-top: 27px;
  margin-right: auto;
  margin-left: auto;
  width: 980px;
}
.b-comments:before,
.b-comments:after {
  content: "";
  display: table;
}
.b-comments:after {
  clear: both;
}
@media print {
  .b-comments {
    display: none;
  }
}
@media screen and (min-width: 1441px) {
  .b-comments {
    width: 1460px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .b-comments {
    width: 980px;
  }
}
@media screen and (max-width: 960px) {
  .b-comments {
    width: 740px;
  }
}
.b-comments__showall {
  display: block;
  padding: 16px 3px;
  background: #eff2e9;
  text-align: center;
}
.b-comments__header {
  margin-left: 18px;
}
.b-comments-list .b-comment:first-child {
  border-top: none;
}
.b-comment {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-top: 1px dashed #ced0c4;
  -webkit-transition: 5s linear background-color;
  -moz-transition: 5s linear background-color;
  -o-transition: 5s linear background-color;
  -ms-transition: 5s linear background-color;
  transition: 5s linear background-color;
  background: #fff;
}
.b-comment__author {
  display: block;
  letter-spacing: -0.02em;
  font-weight: bold;
  font-size: 13px;
}
.b-comment_nested {
  padding-left: 62px;
}
.b-comment_hidden,
.b-comment_fresh {
  display: none;
}
.b-comment_fresh {
  background: #82ad00;
}
.b-comment__author-doctor {
  color: #ac3500;
}
.b-comment__txt {
  display: block;
  margin-bottom: 13px;
}
.b-comment__date {
  margin-right: 20px;
  color: #7a7a7a;
  letter-spacing: -0.01em;
  font-size: 12px;
}
.b-comment__add-area {
  padding: 12px 21px;
  background: #eff2e9;
}
.b-comment__add-area:before,
.b-comment__add-area:after {
  content: "";
  display: table;
}
.b-comment__add-area:after {
  clear: both;
}
.b-comment__add-area__input {
  margin-right: 210px;
}
.b-comment__add-area__send {
  float: right;
  width: 196px;
}

.b-content {
  padding: 10px;
  line-height: 1.4;
  color: #202020;
}
.b-content:before,
.b-content:after {
  content: "";
  display: table;
}
.b-content:after {
  clear: both;
}
.b-content__header,
.b-content__header-text {
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 13px;
  -webkit-font-smoothing: antialiased;
}
.b-content__header_m {
  font-size: 25px;
  line-height: 1;
  margin-bottom: 22px;
  -webkit-font-smoothing: antialiased;
}
.b-content__headertext {
  font-size: 25px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
.b-content__header-text {
  display: inline-block;
  vertical-align: top;
}
.b-content__header-link {
  position: relative;
  display: inline-block;
  margin-left: 14px;
  vertical-align: top;
  font-size: 16px;
  line-height: 46px;
}
.b-content__header-addition {
  display: inline-block;
  margin-left: 14px;
  color: #747762;
  vertical-align: top;
  font-size: 16px;
  line-height: 46px;
  -webkit-font-smoothing: antialiased;
}
.b-content__popup-header {
  margin-bottom: 8px;
  letter-spacing: 0.017em;
  font-size: 20px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
.b-content__subheader,
.b-content__subheader-small {
  margin-bottom: 9px;
  letter-spacing: -0.017em;
  font-size: 19px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}
.b-content__subheader-small {
  margin-bottom: 4px;
}
.b-content__alert {
  display: block;
  padding: 17px 19px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #d8dec7;
  letter-spacing: -0.008em;
}
@media screen and (min-width: 1441px) {
  .b-content__alert {
    width: 700px;
  }
}
.b-content__set {
  counter-reset: item;
}
.b-content__set__txt {
  margin-bottom: 23px;
  letter-spacing: -0.01em;
}
.b-content__set__item {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 46px;
  padding-left: 38px;
  counter-increment: item;
}
.b-content__set__item:before {
  position: absolute;
  left: 0;
  display: block;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #9b9e86;
  color: #f4f6ee;
  content: counters(item, ".");
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.b-content__set__action {
  margin-top: -14px;
  padding-bottom: 10px;
  padding-left: 38px;
}
.b-content__selection {
  position: relative;
  margin-right: 38px;
  margin-bottom: 20px;
  padding: 14px 20px 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #e9ecdf;
}
.b-content__selection:before,
.b-content__selection:after {
  content: "";
  display: table;
}
.b-content__selection:after {
  clear: both;
}
.b-content__selection_indent {
  margin-top: 16px;
  padding: 20px;
}
.b-content__selection_indent_small {
  margin-top: 16px;
  padding: 7px 20px;
}
.b-content__forgetpass-link {
  float: right;
  margin-top: -3px;
  font-size: 13px;
}
.b-content__register-link {
  float: right;
  margin-top: 11px;
  font-size: 17px;
}
.b-content__decorate {
  margin-top: 18px;
  margin-bottom: 35px;
  padding-top: 22px;
  border-top: 1px dashed #ced0c4;
}
.b-content__decorate:target .b-content__subheader,
.b-content__decorate:target .b-content__header {
  font-weight: bold;
}
.b-content__decorate-options-login {
  margin-bottom: 18px;
}
.b-content__decorate_last {
  margin-top: 18px;
  padding-top: 22px;
  border-top: 1px dashed #ced0c4;
}
.b-content__decorate_last:target .b-content__subheader,
.b-content__decorate_last:target .b-content__header {
  font-weight: bold;
}
.b-content_indent {
  margin-top: 12px;
}
.b-content_fullwidth {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0 20px 20px;
  width: 960px;
}
@media screen and (min-width: 1441px) {
  .b-content_fullwidth {
    width: 1440px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .b-content_fullwidth {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .b-content_fullwidth {
    width: 720px;
  }
}
.b-content__nav {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0 27px 0;
  width: 960px;
}
@media print {
  .b-content__nav {
    display: none;
  }
}
@media screen and (min-width: 1441px) {
  .b-content__nav {
    width: 1440px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .b-content__nav {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .b-content__nav {
    width: 720px;
  }
}

.b-customInput-list {
  margin-top: 7px;
}
.b-customInput_checkbox,
.b-customInput_radio {
  position: relative;
  display: inline-block;
}
.b-customInput__label:focus,
.b-customInput input:focus {
  outline: none;
  border: none;
}
.b-customInput_checkbox input,
.b-customInput_radio input {
  position: absolute;
  top: 2px;
  left: 2px;
  margin: 0;
  clip: rect(0,0,0,0);
}
.b-customInput_radio .b-customInput__label {
  display: block;
  padding: 8px 10px;
}
.b-customInput_checkbox .b-customInput__label,
.b-customInput_radio .b-customInput__label {
  position: relative;
  margin: 0 10px 0.3em 0;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
  line-height: 1;
  cursor: pointer;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.b-customInput_checkbox .b-customInput__label {
  padding: 0px 10px 0 22px;
  background-image: url("../publish/sprite.png");
  background-position: 0px -257px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
}
.b-customInput_checkbox .b-customInput__label_checked {
  background-image: url("../publish/sprite.png");
  background-position: 0px -212px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
}
.b-customInput_radio .b-customInput__label {
  display: inline-block;
  text-align: center;
  text-decoration: underline;
  color: #007cb5;
}
.b-customInput_radio .b-customInput__label_checked {
  -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,0.26);
  box-shadow: inset 0px 1px 4px rgba(0,0,0,0.26);
  color: #787b60;
  font-weight: bold;
  text-decoration: none;
}
.b-customInput_checkbox .b-customInput__label_focus,
.b-customInput_radio .b-customInput__label_focus {
  outline: 1px dotted #ccc;
}
.b-customInput__label-txt {
  position: relative;
  top: -3px;
  border-bottom: 1px dashed;
  color: #007cb5;
  white-space: nowrap;
  font-size: 13px;
}

.b-dropdown {
  position: relative;
}
.b-dropdown__row {
  display: block;
}
.b-dropdown__content {
  position: absolute;
  top: 100%;
  z-index: 128;
  display: none;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .b-dropdown__content {
    position: static;
  }
}

.b-footer {
  width: 100%;
  height: 115px;
  background-color: #f1f3eb;
  font-size: 13px;
  position: relative;
  z-index: -1;
}
@media print {
  .b-footer {
    display: none;
  }
}
.b-footer__wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 27px 43px;
  max-width: 940px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 38px;
  height: 115px;
}
.b-footer__copyright {
  float: left;
  margin-right: 25px;
  color: #787878;
}
.b-footer__link {
  margin-right: 30px;
  letter-spacing: -0.05em;
  font-size: 12px;
}

.b-form {
  outline: 1px solid #f00;
}
.b-form label.b-form__error,
.b-form label.b-form__error {
  color: #c42000;
  font-style: italic;
}
input.b-form__error {
  float: left;
  border: 1px solid #f00;
}
label.b-form__error {
  float: right;
  margin-right: -140px;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 130px;
  color: #c42000 !important;
  letter-spacing: -0.05em;
  font-size: 11px;
  line-height: 13px;
}
label.b-form__error:before,
label.b-form__error:after {
  content: "";
  display: table;
}
label.b-form__error:after {
  clear: both;
}
label.b-form__error_indent {
  margin-top: 15px;
}
.b-form__caption,
.b-form__label {
  display: block;
  color: #787b60;
  letter-spacing: 0.01em;
}
.b-form__caption {
  position: absolute;
  top: 15px;
  right: 20px;
}
.b-form__caption-link {
  display: inline-block;
  margin-left: 18px;
}
.b-form__label {
  clear: both;
  font-size: 13px;
}
.b-form__label_indent {
  margin-bottom: 7px;
}
.b-form__fieldset {
  margin: 12px 0;
  width: 296px;
}
.b-form__fieldset:before,
.b-form__fieldset:after {
  content: "";
  display: table;
}
.b-form__fieldset:after {
  clear: both;
}
@media screen and (max-width: 960px) {
  .b-form__fieldset {
    width: 80%;
  }
}
.b-form__fieldset:first-child {
  margin-top: 0;
}
.b-form__fieldset_wrap {
  width: 296px;
}
.b-form__fieldset_wrap:before,
.b-form__fieldset_wrap:after {
  content: "";
  display: table;
}
.b-form__fieldset_wrap:after {
  clear: both;
}
@media screen and (max-width: 960px) {
  .b-form__fieldset_wrap {
    width: 80%;
  }
}
.b-form__fieldset-action {
  margin-top: 26px;
  margin-bottom: 0;
}
.b-form__fieldset-action-next {
  margin-top: 20px;
}
.b-form__fieldset-top {
  margin-top: 6px;
  margin-bottom: 0;
}
.b-form__fieldset-bottom {
  margin-top: 0;
  margin-bottom: 6px;
}
.b-form__login-change {
  margin-bottom: 28px;
}
.b-form__password-change {
  margin-top: 28px;
}
.b-form__login-change.b-view_view,
.b-form__password-change.b-view_view {
  margin: 0;
}
.b-form__name-change {
  position: relative;
}
.b-form__table {
  margin-bottom: -16px;
}
.b-form__table-label {
  padding-right: 14px;
  padding-bottom: 16px;
  color: #787b60;
  letter-spacing: -0.05em;
  font-weight: bold;
}
.b-form__table-value {
  padding-bottom: 16px;
  letter-spacing: -0.05em;
  font-weight: bold;
}
.b-form__input-editlink {
  position: absolute;
  top: 13px;
  left: 100%;
  margin-left: 20px;
  white-space: nowrap;
}
.b-form__action-menu {
  position: absolute;
  top: 12px;
  right: 0;
}
.b-form__labeled-value {
  color: #787b60;
  letter-spacing: -0.07em;
  font-weight: bold;
  font-size: 15px;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
}
.b-form__labeled-value_small {
  color: #787b60;
  letter-spacing: -0.07em;
  font-weight: bold;
  font-size: 13px;
  margin-right: 10px;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
}
.b-form__labeled-link {
  color: #007cb5;
  font-size: 14px;
  letter-spacing: -0.05em;
}

.b-graph {
  position: relative;
}
.b-graph-health {
  position: relative;
  overflow: hidden;
  margin-top: -26px;
}
.b-graph-health_lines {
  margin-top: 0;
}
.b-graph__paper {
  position: relative;
  overflow: hidden;
}
.b-graph__axis {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.b-graph-bars__paper {
  margin-right: 26px;
  height: 197px;
}
.b-graph-bars__axis {
  width: 1420px;
  height: 197px;
}
.b-graph-bars__axis svg {
  shape-rendering: crispEdges;
}
.b-graph-lines__paper {
  z-index: 1;
  height: 250px;
}
.b-graph-lines__paper:after {
  position: absolute;
  top: 0;
  left: -10px;
  z-index: 3;
  display: block;
  width: 52px;
  height: 250px;
  background: url("b-graph-lines_l_fade.png") repeat-y;
  content: "";
}
.b-graph-lines-bg__paper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  margin-left: 15px;
  width: 1264px;
  height: 250px;
}
.b-graph-lines__axis {
  width: 1420px;
  height: 325px;
}
.b-graph-lines__axis-l {
  right: auto;
  left: 0;
  z-index: 5;
  width: 30px;
  height: 325px;
}
.b-graph-lines__axis-r {
  right: 0;
  height: 325px;
  width: 139px;
}
.b-graph-lines__axis-b {
  top: 250px;
  left: 0;
  width: 1420px;
  height: 75px;
}
.b-graph__arrow_l {
  position: absolute;
  top: 72px;
  left: -12px;
  z-index: 5;
  display: block;
  background-image: url("../publish/sprite.png");
  background-position: 0px -703px;
  width: 15px;
  height: 24px;
}
.b-graph__arrow_l:hover {
  background-image: url("../publish/sprite.png");
  background-position: 0px -649px;
  width: 15px;
  height: 24px;
}
.b-graph__arrow_r {
  position: absolute;
  top: 72px;
  right: -12px;
  display: block;
  z-index: 5;
  background-image: url("../publish/sprite.png");
  background-position: 0px -595px;
  width: 14px;
  height: 24px;
}
.b-graph__arrow_r:hover {
  background-image: url("../publish/sprite.png");
  background-position: 0px -757px;
  width: 14px;
  height: 24px;
}
.b-graph__wrapper_lines {
  position: relative;
  overflow: hidden;
  margin-right: 139px;
  margin-left: 15px;
  height: 325px;
}

.b-header {
  margin: 0 auto;
  padding: 40px 23px 30px;
  width: 700px;
}
.b-header:before,
.b-header:after {
  content: "";
  display: table;
}
.b-header:after {
  clear: both;
}
@media print {
  .b-header {
    display: none;
  }
}
@media screen and (min-width: 1441px) {
  .b-header {
    width: 1420px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .b-header {
    width: 940px;
  }
}
@media screen and (max-width: 960px) {
  .b-header {
    width: 700px;
  }
}
@media screen and (min-width: 1441px) {
  .b-header_login {
    width: 500px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .b-header_login {
    width: 500px;
  }
}
.b-header__logo {
  width: 220px;
  float: left;
}
.b-header__info {
  float: left;
  width: 200px;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
}
.b-header__info-phone {
  display: block;
  margin-top: 1px;
  margin-left: 2px;
  font-weight: bold;
  font-size: 18px;
}
.b-header__info-cond {
  letter-spacing: -0.03em;
  font-size: 13px;
}
.b-header__tarif {
  float: left;
  margin-left: 9px;
  width: 220px;
}
@media screen and (max-width: 960px) {
  .b-header__tarif {
    float: right;
    text-align: right;
  }
}
.b-header__tarif__label {
  display: block;
}
.b-header__login {
  float: right;
  margin-top: -11px;
}
@media screen and (max-width: 960px) {
  .b-header__login {
    float: none;
    clear: both;
    margin-top: 60px;
  }
}
.b-header__options {
  display: block;
  padding: 5px 32px 13px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.24);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.24);
  white-space: nowrap;
  line-height: 27px;
}
@media screen and (max-width: 960px) {
  .b-header__options {
    line-height: 40px;
  }
}
@media screen and (max-width: 960px) {
  .b-header__option a {
    line-height: 40px;
    display: inline-block;
  }
}
.b-header__dropdown {
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
}
.b-header__account_open .b-header__account-wrap {
  border-bottom: 1px solid #e2e2e2;
}
.b-header__account-wrap {
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 17px;
}
.b-header__account {
  position: relative;
  padding: 12px 12px 3px 14px;
  min-width: 160px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  color: #6d9100;
  cursor: pointer;
}
.b-header__account:after {
  position: absolute;
  top: 7px;
  right: 3px;
  display: block;
  width: 25px;
  height: 30px;
  color: #b4b4b4;
  content: "▼";
  text-align: center;
  font-size: 6px;
  line-height: 30px;
}
.b-header__account_open {
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.b-header__account-pic {
  position: absolute;
  top: 15px;
  left: 14px;
  background-image: url("../publish/sprite.png");
  background-position: 0px -41px;
  width: 11px;
  height: 11px;
}
.b-header__account-wrap_watcher {
  color: #ac3500;
}
.b-header__account-wrap_watcher .b-header__account-pic {
  background-position: 0px 0px;
}

.b-health-list {
  width: 960px;
}
.b-health-list:before,
.b-health-list:after {
  content: "";
  display: table;
}
.b-health-list:after {
  clear: both;
}
@media print {
  .b-health-list {
    display: block;
  }
}
@media screen and (min-width: 1441px) {
  .b-health-list {
    width: 100%;
  }
}
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .b-health-list {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .b-health-list {
    width: 100%;
  }
}
.b-health-list_indent {
  margin-bottom: 27px;
  padding-top: 20px;
  border-top: 1px dashed #ced0c4;
}
.b-health-list_indent:before,
.b-health-list_indent:after {
  content: "";
  display: table;
}
.b-health-list_indent:after {
  clear: both;
}
.b-health-list__item {
  width: 300px;
  float: left;
  margin-right: 20px;
  height: 36px;
}
.b-health-list__header {
  margin-bottom: 20px;
}
.b-health-list__hp {
  float: left;
  margin-right: 7px;
}
.b-health-list__safety {
  float: left;
  margin-right: 17px;
}
.b-health-list__link {
  line-height: 27px;
  margin-left: -10px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  padding: 5px 10px;
  -webkit-box-shadow: inset 0 1px 4px rgba(255,255,255,0);
  box-shadow: inset 0 1px 4px rgba(255,255,255,0);
}
.b-health-list__link_warning {
  color: #b13600;
}
.b-health-list__link_selected {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ebede5;
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);
  color: #727559;
  text-decoration: none;
}
.b-health-list__about-organ-data {
  display: none;
}
.b-health-legenda {
  padding-bottom: 29px;
  color: #747762;
}
.b-health-legenda:before,
.b-health-legenda:after {
  content: "";
  display: table;
}
.b-health-legenda:after {
  clear: both;
}
@media print {
  .b-health-legenda {
    display: none;
  }
}
.b-health-legenda__label {
  font-size: 13px;
}
.b-health-legenda__levels {
  float: left;
  margin-left: 50px;
  padding-top: 3px;
  width: 375px;
}
@media screen and (max-width: 960px) {
  .b-health-legenda__levels {
    margin-top: 20px;
    margin-left: 182px;
  }
}
.b-health-legenda__levels-icon {
  margin-right: 3px;
  margin-left: 4px;
}
.b-health-legenda__signs {
  float: left;
  padding-top: 26px;
  width: 330px;
}
.b-health-legenda__sign-label {
  float: left;
  margin-right: 22px;
  padding-top: 7px;
  font-size: 15px;
}
.b-health-legenda__sign {
  position: relative;
  top: -23px;
}
.b-health-legenda__grad {
  position: relative;
  float: left;
  margin-top: 6px;
  margin-right: -2px;
  margin-left: 7px;
  width: 41px;
  height: 5px;
  text-align: center;
  cursor: pointer;
}
.b-health-legenda__grad:hover .b-popup {
  display: block;
}
.b-health-legenda__grad_1st {
  clear: left;
}
.b-health-legenda__grad_green {
  background: #94c400;
}
.b-health-legenda__grad_lgreen {
  background: #bcd300;
}
.b-health-legenda__grad_yellow {
  background: #fecc09;
}
.b-health-legenda__grad_orange {
  background: #f69700;
}
.b-health-legenda__grad_red {
  background: #f75c00;
}
.b-health__about {
  padding-top: 24px;
  padding-bottom: 13px;
  border-top: 1px dashed #ced0c4;
}
.b-health__about_indent {
  margin-bottom: 20px;
  padding-bottom: 28px;
  border-bottom: 1px dashed #ced0c4;
}
.b-health__about__number {
  float: left;
  margin-top: -18px;
  margin-left: -8px;
  padding-right: 30px;
  width: 110px;
  text-align: center;
  letter-spacing: -0.07em;
  font-weight: bold;
  font-size: 85px;
}
.b-health__about__number_green {
  color: #94c400;
}
.b-health__about__number_lgreen {
  color: #bcd300;
}
.b-health__about__number_yellow {
  color: #fecc09;
}
.b-health__about__number_orange {
  color: #f69700;
}
.b-health__about__number_red {
  color: #f75c00;
}
.b-health__about__description {
  overflow: hidden;
}
.b-health__about__header {
  display: block;
  margin-bottom: 6px;
  letter-spacing: -0.01em;
  font-size: 26px;
}
.b-health-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #9b9e86;
  color: #161616;
  text-align: center;
  font-weight: bold;
  line-height: 26px;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
}
.b-health-icon_neutral {
  color: #f4f6ee;
  background: #9b9e86;
}
.b-health-icon_green {
  background: #94c400;
}
.b-health-icon_lgreen {
  background: #bcd300;
}
.b-health-icon_yellow {
  background: #fecc09;
}
.b-health-icon_orange {
  background: #f69700;
}
.b-health-icon_red {
  background: #f75c00;
}
.b-health__comments {
  margin-bottom: 20px;
}
.b-health__comment {
  display: block;
  margin-bottom: 9px;
  padding: 0 20px;
  height: 48px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #e9eddf;
  line-height: 48px;
}
.b-health__comment:before,
.b-health__comment:after {
  content: "";
  display: table;
}
.b-health__comment:after {
  clear: both;
}
.b-health__comment_doctor {
  color: #ac3500;
}
.b-health__comment__author {
  margin-right: 4px;
}
.b-health__comment__txt {
  float: left;
}
.b-health__comment__datetime {
  float: right;
  width: 125px;
  color: #747762;
  font-size: 11px;
}
.b-health__comment__date {
  float: left;
}
.b-health__comment__time {
  float: right;
}
.b-health__about-organs {
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 1px dashed #ced0c4;
  -webkit-transition: 0.6s linear all;
  -moz-transition: 0.6s linear all;
  -o-transition: 0.6s linear all;
  -ms-transition: 0.6s linear all;
  transition: 0.6s linear all;
}
.b-health__about-organs:before,
.b-health__about-organs:after {
  content: "";
  display: table;
}
.b-health__about-organs:after {
  clear: both;
}
@media print {
  .b-health__about-organs {
    display: none;
  }
}
.b-health__about-organs_closed {
  padding-top: 0;
  padding-bottom: 0;
  border-top: 1px dashed #f1f3eb;
}
.b-health__about-organs_closed .b-health__about-organ {
  overflow: hidden;
  margin: 0;
  max-height: 0;
  opacity: 0;
}
.b-health__about-organ {
  margin-top: 17px;
  max-height: 300px;
  opacity: 1;
  -webkit-transition: 0.6s linear all;
  -moz-transition: 0.6s linear all;
  -o-transition: 0.6s linear all;
  -ms-transition: 0.6s linear all;
  transition: 0.6s linear all;
}
.b-health__about-organ:before,
.b-health__about-organ:after {
  content: "";
  display: table;
}
.b-health__about-organ:after {
  clear: both;
}
.b-health__about-organ_hidden {
  overflow: hidden;
  margin: 0;
  max-height: 0;
  opacity: 0;
}
.b-health__about-organ:first-child {
  margin-top: 0;
}
.b-health__about-organ__toggle {
  position: relative;
  top: 2px;
  float: right;
  right: 0;
  border-bottom: 1px dashed;
  text-decoration: none;
}
.b-health__about-organ__params {
  float: left;
  margin-top: 4px;
  margin-right: -9px;
  width: 80px;
}
.b-health__about-organ__about {
  overflow: hidden;
}
.b-health__about-organ__txt {
  margin-top: 4px;
}

.b-input::-webkit-input-placeholder {
  color: #727559;
}
/* Firefox 18- */
.b-input:-moz-placeholder {
  color: #727559;
}
/* Firefox 19+ */
.b-input::-moz-placeholder {
  color: #727559;
}
.b-input:-ms-input-placeholder {
  color: #727559;
}
.b-input::placeholder {
  color: #727559;
}
.b-input {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 13px;
  border: 1px solid #d4d7c9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
  color: #191919;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
.b-input:focus {
  outline: none;
}
.b-input[disabled] {
  background: none;
  color: #727559;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.b-input_row {
  width: 100%;
}
.b-input_big {
  width: 100%;
  max-width: 296px;
}
@media screen and (max-width: 960px) {
  .b-input_big {
    max-width: none;
  }
}
.b-input_datepicker {
  position: relative;
  width: 100%;
  color: #787b60;
  background-image: url("../publish/sprite.png");
  background-repeat: no-repeat;
  background-position: 170px -483px;
}
.l-input_datepicker-wrapper:after {
  position: absolute;
  top: 12px;
  width: 30px;
  height: 30px;
  right: 11px;
  z-index: -1;
  display: block;
  content: '';
}

.b-measures {
  text-align: left;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
  margin-left: -20px;
  width: 980px;
  border-bottom: 1px solid #c4c6b3;
  white-space: nowrap;
}
@media screen and (min-width: 1441px) {
  .b-measures {
    width: 1460px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .b-measures {
    width: 980px;
  }
}
@media screen and (max-width: 960px) {
  .b-measures {
    width: 740px;
    table-layout: fixed;
  }
}
.b-measures_listing {
  margin-bottom: 15px;
  border-bottom: 1px dashed #ced0c4;
}
.b-measures__th {
  padding: 6px 17px 6px 6px;
  border-bottom: 1px solid #c4c6b3;
  color: #727559;
}
.b-measures tbody tr {
  cursor: pointer;
}
.b-measures tbody tr:hover {
  background: #f4f6f0;
}
tbody .b-measures__td {
  height: 49px;
  border-top: 1px dashed #ced0c4;
  line-height: 49px;
}
tr:first-child .b-measures__td {
  border-top: none;
}
.b-measures__health-date {
  padding-left: 19px;
  width: 138px;
  white-space: nowrap;
}
.b-measures__health {
  padding-right: 17px;
  width: 64px;
  text-align: center;
}
.b-measures__comment {
  overflow: hidden;
  padding-left: 6px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
thead .b-measures__comment-date {
  width: 180px;
}
tbody .b-measures__comment-date {
  padding-left: 6px;
  width: 180px;
  color: #7e7e7e;
  font-size: 11px;
}
.b-measures__comment-date-wrap {
  display: inline-block;
  width: 130px;
  vertical-align: top;
  line-height: 49px;
}
.b-measures__comment-date-wrap:before,
.b-measures__comment-date-wrap:after {
  content: "";
  display: table;
}
.b-measures__comment-date-wrap:after {
  clear: both;
}
.b-measures__comment-date_day {
  float: left;
}
.b-measures__comment-date_time {
  float: right;
}
.b-measures__health-date-wrap {
  display: inline-block;
  width: 142px;
  vertical-align: top;
  line-height: 49px;
  -webkit-font-smoothing: antialiased;
}
.b-measures__health-date-wrap:before,
.b-measures__health-date-wrap:after {
  content: "";
  display: table;
}
.b-measures__health-date-wrap:after {
  clear: both;
}
.b-measures__health-date_day {
  float: left;
  color: #007cb5;
}
.b-measures__health-date_time {
  float: right;
  color: #a8a8a8;
}
.b-measures__link {
  color: #727559;
  text-decoration: none;
  cursor: default;
}
.b-measures__link_asc,
.b-measures__link_desc {
  cursor: pointer;
}
.b-measures__link_asc:after,
.b-measures__link_desc:after {
  float: right;
  margin-top: 7px;
  margin-right: -8px;
  font-size: 7px;
}
.b-measures__link_asc:after {
  content: "▲";
}
.b-measures__link_desc:after {
  content: "▼";
}
.b-measures__from {
  font-weight: bold;
}
.b-measures__highpriority {
  color: #ac3500;
}
.b-measures__lowpriority {
  color: #c4c6b3;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
}
.b-measures__pager {
  margin-left: -15px;
  padding-top: 9px;
}
.b-measures__pager:before,
.b-measures__pager:after {
  content: "";
  display: table;
}
.b-measures__pager:after {
  clear: both;
}
.b-measures__pager__prev {
  margin-top: 9px;
  margin-right: 13px;
  float: left;
}
.b-measures__pager__pages {
  float: left;
  margin-top: 9px;
}
.b-measures__pager__label {
  margin-right: 13px;
}
.b-measures__pager__link {
  margin-right: 13px;
}
.b-measures__pager__link_current {
  color: #727559;
  text-decoration: none;
  cursor: default;
}
.b-measures__pager__next {
  margin-top: 9px;
  float: left;
}
.b-measures__pager__switch {
  float: right;
}
.b-measures__pager__switch-label {
  float: right;
  margin-top: 9px;
  margin-right: 8px;
}

.b-menu_orgon {
  margin: 0 auto;
  padding: 6px 23px 30px;
  max-width: 1000px;
  width: 700px;
}
.b-menu_orgon:before,
.b-menu_orgon:after {
  content: "";
  display: table;
}
.b-menu_orgon:after {
  clear: both;
}
@media print {
  .b-menu_orgon {
    display: none;
  }
}
@media screen and (min-width: 1441px) {
  .b-menu_orgon {
    width: 1420px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .b-menu_orgon {
    width: 940px;
  }
}
@media screen and (max-width: 960px) {
  .b-menu_orgon {
    width: 700px;
  }
}
.b-menu_orgon .b-menu__item {
  position: relative;
  display: inline-block;
  margin-right: 78px;
}
.b-menu_orgon .b-menu__link {
  color: #000;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-size: 21px;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
}
.b-menu_orgon .b-menu__link:hover {
  color: #7e8168;
}
.b-menu_orgon .b-menu__item_current .b-menu__link {
  color: #7e8168;
  text-decoration: none;
  cursor: default;
}

.b-page {
  height: 100%;
  max-height: 100%;
}
.b-page__wrapper {
  margin: 0 auto;
  padding-bottom: 115px;
  min-height: 100%;
  position: relative;
  z-index: 1;
  background: #fff url("../tmp/head-bg.png") top right no-repeat;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.21);
  box-shadow: 0 2px 5px rgba(0,0,0,0.21);
}
.b-page__wrapper:before,
.b-page__wrapper:after {
  content: "";
  display: table;
}
.b-page__wrapper:after {
  clear: both;
}

.b-pager {
  display: block;
}
.b-pager__item {
  display: inline-block;
  color: #007cb5;
  text-decoration: underline;
  font-size: 16px;
  padding: 4px 11px;
  margin-right: 10px;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
}
.b-pager__item_active {
  background-color: #ebede5;
  -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,0.26);
  box-shadow: inset 0px 1px 4px rgba(0,0,0,0.26);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #9b9e86;
  text-decoration: none;
}

/*
 * Pikaday
 * Copyright © 2012 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  width: 189px;
  padding: 8px 8px 15px 8px;
  color: #333;
  background: #f8f9f6;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pika-single.is-hidden {
  display: none;
}
.pika-single.is-bound {
  position: absolute;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0,0,0,0.5);
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.5);
}
.pika-title {
  position: relative;
  text-align: center;
}
.pika-single abbr {
  border-bottom: none;
}
.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 3px 3px 0;
  font-size: 12px;
  color: #787b60;
  line-height: 20px;
  font-weight: bold;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
}
.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
/*filter: alpha(opacity=0);*/
  opacity: 0;
}
.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 75% 75%;
  -moz-background-size: 75% 75%;
  background-size: 75% 75%;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  opacity: 0.5;
  *position: absolute;
  *top: 0;
}
.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}
.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("../publish/sprite.png");
  background-position: 0px -395px;
  width: 13px;
  height: 19px;
  *left: 0;
}
.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("../publish/sprite.png");
  background-position: 0px -444px;
  width: 13px;
  height: 19px;
  *right: 0;
}
.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: 0.2;
}
.pika-select {
  display: inline-block;
  *display: inline;
}
.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  text-align: center;
}
.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
}
.pika-table th {
  color: #787b60;
  font-size: 11px;
  border-bottom: 1px solid #dee0d3;
  line-height: 19px;
  font-weight: normal;
  text-align: center;
}
.pika-button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  border: 0;
  margin: 2px 0 0 0;
  width: 24px;
  padding: 3px 5px;
  color: #2586ba;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background: #f8f9f6;
}
.is-today .pika-button {
  color: #3af;
  font-weight: bold;
}
.is-selected .pika-button {
  border: 1px solid #d4d7c9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ebede6;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
  color: #787b60;
  font-weight: normal;
}
.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: 0.3;
}
.pika-button:hover {
  background: #f8f9f6 !important;
}

.b-popup {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px;
  width: 500px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f1f3eb;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.21);
  box-shadow: 0 3px 5px rgba(0,0,0,0.21);
}
@media screen and (max-width: 960px) {
  .b-popup {
    width: 700px;
  }
}
.b-popup__txt {
  color: #787b60;
  letter-spacing: -0.01em;
}
.b-popup__msg-txt {
  margin-bottom: 25px;
  color: #787b60;
  letter-spacing: -0.03em;
  font-size: 16px;
}
.b-popup__close {
  position: absolute;
  top: 20px;
  right: 17px;
  display: block;
  background-image: url("../publish/sprite.png");
  background-position: 0px -347px;
  width: 19px;
  height: 18px;
}
.b-popup_fullwidth {
  width: 940px;
  padding: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
@media screen and (min-width: 1441px) {
  .b-popup_fullwidth {
    width: 1420px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .b-popup_fullwidth {
    width: 940px;
  }
}
@media screen and (max-width: 960px) {
  .b-popup_fullwidth {
    width: 700px;
  }
}
.b-popup_hidden {
  display: none;
}
.b-popup_indent {
  margin-top: 24px;
}
.b-popup__health-legenda {
  position: absolute;
  top: 16px;
  left: 50%;
  display: none;
  margin-left: -170px;
  padding: 20px;
  width: 408px;
  background: #f7f9f5;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.41);
  box-shadow: 0 1px 6px rgba(0,0,0,0.41);
  text-align: left;
  -webkit-font-smoothing: antialiased;
}
.b-popup__health-legenda__header {
  display: inline-block;
  margin-left: 13px;
  color: #000;
  vertical-align: top;
  letter-spacing: -0.04em;
  font-size: 16px;
  line-height: 26px;
}
.b-popup__health-legenda__about {
  margin-top: 16px;
  width: 100%;
  color: #000;
  table-layout: fixed;
  line-height: 20px;
}
.b-popup__health-legenda__about td {
  padding-bottom: 3px;
}
.b-popup__health-legenda__col1 {
  width: 157px;
  color: #747762;
}
.b-popup__health-legenda:after,
.b-popup_datapicker:after {
  position: absolute;
  left: 50%;
  display: block;
  content: '';
  background-image: url("../publish/sprite.png");
  background-position: 0px -125px;
  width: 28px;
  height: 13px;
  top: -13px;
  margin-left: -14px;
}
.b-popup__health-legenda:after {
  margin-left: -47px;
}
.b-popup_datapicker {
  position: absolute;
  top: 46px;
  left: 50%;
  z-index: 128;
  display: none;
  width: 488px;
  margin-left: -244px;
  padding: 21px 28px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.41);
  box-shadow: 0 1px 6px rgba(0,0,0,0.41);
  line-height: 18px;
  background: #f7f9f5;
}
.b-popup_datapicker_opener {
  font-size: 15px;
}
.b-popup_datapicker-links {
  margin-bottom: -7px;
}
.b-popup_datapicker-links:before,
.b-popup_datapicker-links:after {
  content: "";
  display: table;
}
.b-popup_datapicker-links:after {
  clear: both;
}
.b-popup_datapicker-link {
  float: left;
  margin-right: 18px;
  margin-bottom: 13px;
  border-bottom: 1px dashed;
  text-decoration: none;
  white-space: nowrap;
  font-size: 13px;
}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
select.b-select {
  position: absolute;
  clip: rect(0,0,0,0);
}
.b-select {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 7px;
  border: 1px solid #d4d7c9;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
  color: #191919;
  text-align: left;
  font-size: 13px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.b-select:focus {
  outline: 0;
}
.b-select a {
  outline: 0;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.b-select__toggle {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 11px 25px 10px 13px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #333;
  font-size: 15px;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.b-select__toggle:after {
  position: absolute;
  top: 18px;
  right: 0;
  display: block;
  width: 28px;
  height: 100%;
  color: #b4b4b4;
  content: "▼";
  text-align: center;
  font-size: 9px;
}
.b-select_focus .b-select__toggle {
  -webkit-box-shadow: 0 0 5px #40b5e2;
  box-shadow: 0 0 5px #40b5e2;
}
.b-select_open {
  position: relative;
  -webkit-box-shadow: 0 0 5px #40b5e2;
  box-shadow: 0 0 5px #40b5e2;
  z-index: 10;
}
.b-select_open .b-select__toggle {
  display: block;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.b-select_open .b-select__options {
  display: block;
}
.b-select__options {
  position: absolute;
  right: 0;
  display: none;
  margin-top: -1px;
  width: 100%;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.2), inset 0 -10px 14px -10px rgba(0,0,0,0.3);
  box-shadow: 0 2px 8px rgba(0,0,0,0.2), inset 0 -10px 14px -10px rgba(0,0,0,0.3);
}
.b-select__options a {
  display: block;
  padding: 6px 15px;
  text-decoration: underline;
}
.b-select__options-inner {
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
  max-height: 400px;
  border-right: 1px solid #d4d7c9;
  border-bottom-width: 2px;
  border-bottom-color: #999;
  border-left: 1px solid #d4d7c9;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  color: #333;
}
.b-select__options-inner li {
  display: block;
}
.b-select__options li:last-child a {
  border-bottom: none;
}
.b-select__options a:hover,
.b-select__option_current a {
  color: #5e5e5e;
  text-decoration: none;
}
.b-select__options .b-select__option_disabled,
.b-select__options .b-select__option_disabled a,
.b-select__option_current a {
  cursor: default;
  text-decoration: none;
}
.b-select__options .b-select__option_disabled a,
.b-select__options .b-select__option_disabled a:hover,
.b-select__options .b-select__option_disabled:hover a {
  color: #bababa;
  cursor: default;
}

.b-select_mod_days,
.b-select_mod_month {
  float: left;
  margin-right: 10px;
}
.b-select_mod_days {
  width: 71px;
}
.b-select_mod_month {
  width: 113px;
}
.b-select_mod_year {
  width: 91px;
  float: left;
}
.b-select_mod_big .b-select__toggle {
  min-width: 296px !important;
  max-width: 100%;
}
.b-select_mod_big {
  width: 100%;
}
.b-select_mod_minimal {
  float: right;
  margin-top: 0;
  outline: 1px solid #f00;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.b-select_mod_minimal .b-select__toggle {
  padding: 7px 25px 10px 7px;
  font-size: 13px;
}
.b-select_mod_minimal .b-select__toggle:after {
  top: 0;
  font-size: 7px;
  line-height: 36px;
}
.b-select_mod_minimal .b-select__options {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.b-select_mod_minimal .b-select__options-inner {
  padding-bottom: 9px;
  border-right: 1px solid #bdbdad;
  border-bottom: 1px solid #bdbdad;
  border-left: 1px solid #bdbdad;
}
.b-select_error {
  border: 1px solid #f00;
}
select.b-form__error + .b-select {
  border: 1px solid #f00;
}
.b-form__error + .b-customInput__label {
  border: 1px solid #f00;
}

.b-tabs {
  overflow: hidden;
  margin-right: auto;
  margin-bottom: -7px;
  margin-left: auto;
  width: 980px;
  height: 45px;
  -webkit-box-shadow: -3px 4px 5px -3px rgba(0,0,0,0.21);
  box-shadow: -3px 4px 5px -3px rgba(0,0,0,0.21);
  table-layout: fixed;
  white-space: nowrap;
}
@media screen and (min-width: 1441px) {
  .b-tabs {
    width: 1460px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1440px) {
  .b-tabs {
    width: 980px;
  }
}
@media screen and (max-width: 960px) {
  .b-tabs {
    width: 740px;
  }
}
.b-tab {
  cursor: pointer;
}
@media print {
  .b-tab {
    display: none;
  }
}
.b-tab__link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 19px;
  width: 100%;
  height: 42px;
  color: #007cb5;
  text-decoration: underline;
  white-space: nowrap;
  letter-spacing: -0.02em;
  font-size: 15px;
  line-height: 42px;
}
.b-tab-tip .b-tab__link {
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  background: #e9ece1;
  -webkit-box-shadow: inset 1px -2px 4px rgba(0,0,0,0.12);
  box-shadow: inset 1px -2px 4px rgba(0,0,0,0.12);
}
.b-tab-tip .b-tab__link:after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 30px;
  height: 38px;
  background: #f1f3eb;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(233,236,225,0.4)), color-stop(0.6, #e9ece1));
  background: -webkit-linear-gradient(left, rgba(233,236,225,0.4) 0%, #e9ece1 60%);
  background: -moz-linear-gradient(left, rgba(233,236,225,0.4) 0%, #e9ece1 60%);
  background: -o-linear-gradient(left, rgba(233,236,225,0.4) 0%, #e9ece1 60%);
  background: -ms-linear-gradient(left, rgba(233,236,225,0.4) 0%, #e9ece1 60%);
  background: linear-gradient(left, rgba(233,236,225,0.4) 0%, #e9ece1 60%);
  content: "";
}
.b-tab-add-link {
  min-width: 112px;
}
.b-tab_current {
  cursor: default;
  text-decoration: none;
}
@media print {
  .b-tab_current {
    display: block;
  }
}
.b-tab_current .b-tab__link {
  background: #f1f3eb;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.21);
  box-shadow: 0 2px 5px rgba(0,0,0,0.21);
  color: #727559;
  text-decoration: none;
  font-weight: bold;
}
.b-tab_current .b-tab__link:after {
  background: #f2f5ea;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(244,245,234,0.4)), color-stop(0.6, #f4f5ea));
  background: -webkit-linear-gradient(left, rgba(244,245,234,0.4) 0%, #f4f5ea 60%);
  background: -moz-linear-gradient(left, rgba(244,245,234,0.4) 0%, #f4f5ea 60%);
  background: -o-linear-gradient(left, rgba(244,245,234,0.4) 0%, #f4f5ea 60%);
  background: -ms-linear-gradient(left, rgba(244,245,234,0.4) 0%, #f4f5ea 60%);
  background: linear-gradient(left, rgba(244,245,234,0.4) 0%, #f4f5ea 60%);
}
.b-tab__page:first-child {
  display: block;
}
.b-tab__page {
  display: none;
}

/* stylus config */
/* text styles */
.b-text p,
.b-text-p {
  margin-bottom: 9px;
  font-family: "Calibri", "Lucida Grande", Lucida, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.b-text h1,
.b-text-h1,
.b-text h2,
.b-text-h2,
.b-text h3,
.b-text-h3,
.b-text h4,
.b-text-h4,
.b-text h5,
.b-text-h5,
.b-text h6,
.b-text-h6 {
  text-rendering: optimizelegibility;
  margin-top: 18px;
  margin-bottom: 9px;
}
.b-text h1 a,
.b-text-h1 a,
.b-text h2 a,
.b-text-h2 a,
.b-text h3 a,
.b-text-h3 a,
.b-text h4 a,
.b-text-h4 a,
.b-text h5 a,
.b-text-h5 a,
.b-text h6 a,
.b-text-h6 a {
  color: inherit;
  text-decoration: none;
}
.b-text h1:first-child,
.b-text-h1:first-child,
.b-text h2:first-child,
.b-text-h2:first-child,
.b-text h3:first-child,
.b-text-h3:first-child,
.b-text h4:first-child,
.b-text-h4:first-child,
.b-text h5:first-child,
.b-text-h5:first-child,
.b-text h6:first-child,
.b-text-h6:first-child {
  margin-top: 0;
}
.b-text h1,
.b-text-h1 {
  font: normal 48px/70px "Calibri", "Lucida Grande", Lucida, sans-serif;
  color: #181818;
  border-bottom: 2px solid #000;
  margin-bottom: 18px;
}
.b-text h2,
.b-text-h2 {
  font: bold 36px/27px "Calibri", "Lucida Grande", Lucida, sans-serif;
  color: #181818;
}
.b-text h3,
.b-text-h3 {
  font: normal 24px/18px "Calibri", "Lucida Grande", Lucida, sans-serif;
  color: #c00;
}
.b-text h4,
.b-text-h4 {
  font: bold 18px/18px "Calibri", "Lucida Grande", Lucida, sans-serif;
  color: #181818;
}
.b-text h5,
.b-text-h5 {
  font: normal 16px/18px "Calibri", "Lucida Grande", Lucida, sans-serif;
  color: #181818;
}
.b-text h6,
.b-text-h6 {
  font: normal 16px/18px "Calibri", "Lucida Grande", Lucida, sans-serif;
  color: #181818;
}
.b-text ul,
.b-text ol {
  padding: 0;
  margin: 0 0 9px 27px;
}
.b-text ul ul,
.b-text ul ol,
.b-text ol ol,
.b-text ol ul {
  margin-bottom: 0;
}
.b-text ul {
  list-style: none;
}
.b-text ul > li:before {
  content: '\2014\a0';
  float: left;
  margin-left: -1.25em;
}
.b-text ol {
  list-style: decimal;
}
.b-text li {
  line-height: 18px;
}
.b-text dl {
  margin-bottom: 9px;
}
.b-text dt,
.b-text dd {
  line-height: 18px;
}
.b-text dt {
  font-weight: bold;
  line-height: 17px;
}
.b-text dd {
  margin-left: 18px;
}
.b-text abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
.b-text pre {
  padding: 9px 18px;
  margin-bottom: 9px;
  border-left: 2px solid #c00;
  background: #eee;
  font-size: 14px;
}
.b-text blockquote {
  padding: 18px;
  margin-bottom: 9px;
  border-left: 5px solid #000;
}
.b-text small {
  font-size: 0.85em;
}
.b-text table {
  margin-bottom: 9px;
}
.b-text th,
.b-text td {
  font-size: 13px;
  padding: 0 5px;
  border: 1px solid #ccc;
}
.b-text th {
  font-weight: bold;
  background: #eee;
  text-align: left;
}
.b-text address {
  display: block;
  margin-bottom: 9px;
  line-height: 18px;
}

.b-view {
  position: relative;
}
.b-view_edit .b-view__show {
  display: none;
}
.b-view_view .b-view__hide {
  display: none;
}

.b-warning {
  position: relative;
}
.b-warning:after {
  position: absolute;
  display: block;
  content: '';
  background-image: url("../publish/sprite.png");
  background-position: 0px -82px;
  width: 13px;
  height: 13px;
}
.b-warning_menu-item:after {
  top: -8px;
  right: -14px;
}
.b-warning_health-icon:after {
  top: -5px;
  right: -6px;
}

.l-cols:before,
.l-cols:after {
  content: "";
  display: table;
}
.l-cols:after {
  clear: both;
}
.l-col-1-2 {
  width: 48%;
  float: left;
}
.l-col-2-2 {
  width: 48%;
  float: right;
}

.l-layout__item {
  position: relative;
  display: block;
}
.l-layout__item__inputs,
.l-layout__item__labels {
  position: relative;
  margin-right: 6px;
  width: 296px;
}
.l-layout__item__labels {
  width: 400px;
}
.l-layout__item__inputs,
.l-layout__item__btns,
.l-layout__item__links,
.l-layout__item__labels {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
}
.l-layout__item__btns {
  margin-right: 20px;
}
.l-layout__item_phonenumbers {
  padding-left: 30px;
}
.l-layout__item_watchers {
  padding-left: 30px;
}
.l-layout__item_phonenumbers .l-layout__item__inputs:before {
  top: 50%;
  background-image: url("../publish/sprite.png");
  background-position: 0px -543px;
  width: 17px;
  height: 22px;
  margin-top: -11px;
}
.l-layout__item_watchers .l-layout__item__inputs:before,
.l-layout__item_watchers .l-layout__item__labels:before {
  top: 50%;
  background-image: url("../publish/sprite.png");
  background-position: 0px -168px;
  width: 24px;
  height: 14px;
  margin-top: -7px;
}
.l-layout__item_phonenumbers .l-layout__item__inputs:before,
.l-layout__item_watchers .l-layout__item__inputs:before,
.l-layout__item_watchers .l-layout__item__labels:before {
  position: absolute;
  left: -30px;
  display: block;
  content: '';
}

.l-row {
  position: relative;
}
.l-row:before,
.l-row:after {
  content: "";
  display: table;
}
.l-row:after {
  clear: both;
}
.l-row_fieldset {
  margin-top: 6px;
  margin-bottom: 18px;
}
.l-row_fieldset-bottom {
  margin-bottom: 18px;
}
.l-row_fieldset-top {
  margin-top: 6px;
}
.l-row_fieldset-equal {
  margin-top: 6px;
  margin-bottom: 6px;
}
.l-row_field-bottom {
  margin-bottom: 10px;
}
.l-row_datepicker {
  margin-top: 6px;
  margin-bottom: 18px;
}
