.b-menu
	&_orgon
		margin: 0 auto;
		padding: 6px 23px 30px;
		max-width: 1000px;
		width: columns-width(9);
		clearfix();

		@media print
			display: none;

		@media $wide
			width: columns-width(18);
		@media $normal
			width: columns-width(12);
		@media $tablet
			width: columns-width(9);

	&_orgon &__item
		position: relative;
		display: inline-block;
		margin-right: 78px;

	&_orgon &__link
		color: black;
		text-transform: uppercase;
		letter-spacing: -0.02em;
		font-size: 21px;
		calibri();
		&:hover
			color: #7e8168;

	&_orgon &__item_current &__link
		color: #7e8168;
		text-decoration: none;
		cursor: default;
