<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Главная страница</title>
    <meta name="keywords" content="{FIXME}">
    <meta name="description" content="{FIXME}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{FIXME}">
    <link rel="stylesheet" href="publish/style.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="publish/style.ie.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="b-page">
    <div class="b-page__wrapper">
      <header class="b-header"><a href="/" class="b-header__logo"><img src="tmp/logo.png"></a>
        <div class="b-header__info"><span class="b-header__info-phone">8 800 775 06 06</span><span class="b-header__info-cond">Бесплатно и круглосуточно</span></div>
        <div class="b-header__tarif"><span class="b-header__tarif__label">Вы используете тариф:</span><a href="#">Стандарт</a></div>
        <div class="b-header__login">
          <div class="b-dropdown js-dropdown b-header__dropdown">
            <div class="b-dropdown__row">
              <div class="b-header__account">
                <div class="b-header__account-wrap"><i class="b-header__account-pic"></i><span>Константин Константинопольский</span></div>
              </div>
            </div>
            <div class="b-dropdown__content">
              <ul class="b-header__options">
                <li class="b-header__option"><a href="/options.html" class="b-header__option-link">Настройки профиля</a></li>
                <li class="b-header__option"><a href="/options.html#adduser" class="b-header__option-link">Добавить пользователя</a></li>
                <li class="b-header__option"><a href="/options.html#addwatcher" class="b-header__option-link">Добавить наблюдателя</a></li>
                <li class="b-header__option"><a href="/options.html#contacts" class="b-header__option-link">Добавить телефон</a></li>
                <li class="b-header__option"><a href="/logout" class="b-header__option-link">Выйти</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <ul class="b-menu b-menu_orgon">
        <li class="b-menu__item"><a href="#" class="b-menu__link">Наши специалисты</a></li>
        <li class="b-menu__item b-warning b-warning_menu-item"><a href="/journal.html" class="b-menu__link">Журнал измерений</a></li>
      </ul>
      <script type="text/html-template" id="newtab_template">
        <td class="b-tab b-tab-tip"><a href="#" title="<%=title%>" class="b-tab__link"><%=title%></a></td>
      </script>
      <script type="text/html-template" id="newpages_template">
        <div class="b-tab__page">
          <section class="b-content b-popup b-popup_fullwidth">
            <h1><%=title%></h1>
            <p><%=text%></p>
          </section>
        </div>
      </script>
      <table class="b-tabs">
        <tr id="b-tab-tips">
          <td class="b-tab b-tab-tip b-tab_current"><a href="#" title="Константинопольский Константин Константинович" class="b-tab__link">Константинопольский Константин Константинович</a></td>
          <td class="b-tab b-tab-tip"><a href="#" title="Весельковская Александра Валерьевна" class="b-tab__link">Весельковская Александра Валерьевна</a></td>
          <td class="b-tab b-tab-tip"><a href="#" title="Весельковская Александра Валерьевна" class="b-tab__link">Весельковская Александра Валерьевна</a></td>
          <td class="b-tab b-tab-add-link"><a href="#" class="b-tab__link js-popup_add-user">+ Добавить</a></td>
        </tr>
      </table>
      <div id="b-tab__pages" class="b-tab__pages">
        <div class="b-tab__page">
          <section class="b-content b-popup b-popup_fullwidth">
            <div class="b-health-legenda"><span class="b-health-legenda__sign-label">Обозначения:</span>
              <div class="b-health-legenda__signs">
                <div class="b-health-legenda__grad b-health-legenda__grad_red b-health-legenda__grad_1st"><span class="b-health-legenda__sign">1</span>
                  <div class="b-popup b-popup__health-legenda"><span class="b-health-icon b-health-icon_red"></span><span class="b-popup__health-legenda__header">1</span>
                    <table class="b-popup__health-legenda__about">
                      <tr>
                        <td class="b-popup__health-legenda__col1">Уровень здоровья: </td>
                        <td>sadasd активация</td>
                      </tr>
                      <tr>
                        <td class="b-popup__health-legenda__col1">Уровень безопасности: </td>
                        <td>Низкий sadasdasd</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="b-health-legenda__grad b-health-legenda__grad_orange"><span class="b-health-legenda__sign">2</span>
                  <div class="b-popup b-popup__health-legenda"><span class="b-health-icon b-health-icon_orange"></span><span class="b-popup__health-legenda__header">2</span>
                    <table class="b-popup__health-legenda__about">
                      <tr>
                        <td class="b-popup__health-legenda__col1">Уровень здоровья: </td>
                        <td>Спокойная активация</td>
                      </tr>
                      <tr>
                        <td class="b-popup__health-legenda__col1">Уровень безопасности: </td>
                        <td>Низкий риск заболевания или компенсированный процесс</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="b-health-legenda__grad b-health-legenda__grad_yellow"><span class="b-health-legenda__sign">3</span>
                  <div class="b-popup b-popup__health-legenda"><span class="b-health-icon b-health-icon_yellow"></span><span class="b-popup__health-legenda__header">3</span>
                    <table class="b-popup__health-legenda__about">
                      <tr>
                        <td class="b-popup__health-legenda__col1">Уровень здоровья: </td>
                        <td>sadasd активация</td>
                      </tr>
                      <tr>
                        <td class="b-popup__health-legenda__col1">Уровень безопасности: </td>
                        <td>Низкий sadasdasd</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="b-health-legenda__grad b-health-legenda__grad_lgreen"><span class="b-health-legenda__sign">4</span>
                  <div class="b-popup b-popup__health-legenda"><span class="b-health-icon b-health-icon_lgreen"></span><span class="b-popup__health-legenda__header">4</span>
                    <table class="b-popup__health-legenda__about">
                      <tr>
                        <td class="b-popup__health-legenda__col1">Уровень здоровья: </td>
                        <td>sadasd активация</td>
                      </tr>
                      <tr>
                        <td class="b-popup__health-legenda__col1">Уровень безопасности: </td>
                        <td>Низкий sadasdasd</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="b-health-legenda__grad b-health-legenda__grad_green"><span class="b-health-legenda__sign">5</span>
                  <div class="b-popup b-popup__health-legenda"><span class="b-health-icon b-health-icon_green"></span><span class="b-popup__health-legenda__header">5</span>
                    <table class="b-popup__health-legenda__about">
                      <tr>
                        <td class="b-popup__health-legenda__col1">Уровень здоровья: </td>
                        <td>sadasd активация</td>
                      </tr>
                      <tr>
                        <td class="b-popup__health-legenda__col1">Уровень безопасности: </td>
                        <td>Низкий sadasdasd</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="b-health-legenda__levels"><span class="b-health-legenda__label">Уровень здоровья —</span><span class="b-health-icon b-health-icon_neutral b-health-legenda__levels-icon">5</span><span class="b-health-icon b-health-icon_neutral b-health-legenda__levels-icon">5</span><span class="b-health-legenda__label">— Уровень безопасности</span></div>
            </div>
            <div class="b-health-list b-health-list_indent">
              <h1 class="b-content__header-text b-health-list__header">Последнее измерение </h1><span class="b-content__header-addition">10 минут назад</span>
              <ul>
                <li data-organ-id="1" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_green b-health-list__safety">5</div><a href="/organ.html" class="b-health-list__link">Сердце</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="2" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_lgreen b-health-list__hp">4</div>
                  <div class="b-health-icon b-health-icon_green b-health-list__safety">5</div>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div><a href="/organ.html" class="b-health-list__link">Сосуды</a>
                </li>
                <li data-organ-id="3" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_green b-health-list__safety">5</div><a href="/organ.html" class="b-health-list__link">Легкие</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="4" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_yellow b-health-list__safety">3</div><a href="/organ.html" class="b-health-list__link">Желудок</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="5" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_yellow b-health-list__hp">3</div>
                  <div class="b-health-icon b-health-icon_yellow b-health-list__safety">3</div><a href="/organ.html" class="b-health-list__link">Поджелудочная</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="6" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_yellow b-health-list__hp">3</div>
                  <div class="b-health-icon b-health-icon_yellow b-health-list__safety">3</div><a href="/organ.html" class="b-health-list__link">Щитовидная железа</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="7" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_green b-health-list__safety">5</div><a href="/organ.html" class="b-health-list__link">Позвоночник, шейный отдел</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="8" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_green b-health-list__safety">5</div><a href="/organ.html" class="b-health-list__link">Позвоночник, грудной отдел</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="9" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_green b-health-list__safety">5</div><a href="/organ.html" class="b-health-list__link">Позвоночник, поясничный отдел</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="10" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_green b-health-list__safety">5</div><a href="/organ.html" class="b-health-list__link">Почки</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="11" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_green b-health-list__safety">5</div><a href="/organ.html" class="b-health-list__link">Печень</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="12" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_orange b-health-list__hp">2</div>
                  <div class="b-health-icon b-health-icon_red b-health-list__safety">1</div><a href="/organ.html" class="b-health-list__link b-health-list__link_warning">Толстый кишечник</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="13" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_red b-health-list__hp">1</div>
                  <div class="b-health-icon b-health-icon_orange b-health-list__safety">2</div><a href="/organ.html" class="b-health-list__link b-health-list__link_warning">Тонкий кишечник</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="14" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_yellow b-health-list__safety">3</div><a href="/organ.html" class="b-health-list__link">Мочевой пузырь</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="15" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_lgreen b-health-list__safety">4</div><a href="/organ.html" class="b-health-list__link b-health-list__link_selected">Простата</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="16" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_orange b-health-list__hp">2</div>
                  <div class="b-health-icon b-health-icon_orange b-health-list__safety">2</div><a href="/organ.html" class="b-health-list__link">Надпочечник</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="17" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_green b-health-list__safety">5</div><a href="/organ.html" class="b-health-list__link">Желчный пузырь</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
                <li data-organ-id="18" class="b-health-list__item">
                  <div class="b-health-icon b-health-icon_green b-health-list__hp">5</div>
                  <div class="b-health-icon b-health-icon_green b-health-list__safety">5</div><a href="/organ.html" class="b-health-list__link">Иммунитет</a>
                  <div class="b-health-list__about-organ-data">На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».</div>
                </li>
              </ul>
            </div>
            <div class="b-health__about b-health__about_indent"><span class="b-health__about__number b-health__about__number_green">5</span>
              <div class="b-health__about__description">
                <h3 class="b-health__about__header">Общее состояние здоровья</h3>
                <div class="b-health__about__txt">
                  <p>На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие».<br>Рекомендуется повышенный контроль за состоянием органа и обращение к <strong>специалисту «ЛОР».</strong></p>
                </div>
              </div>
            </div>
            <h2 class="b-content__header">Комментарии</h2>
            <div class="b-health__comments">
              <div class="b-health__comment b-health__comment_doctor">
                <div class="b-health__comment__txt"><span class="b-health__comment__author">А. А. Александров:</span>Запишитесь ко мне на прием, посмотрим на всякий случай</div>
                <div class="b-health__comment__datetime"><span class="b-health__comment__date">15 июня 2013</span><span class="b-health__comment__time">12:25</span></div>
              </div>
              <div class="b-health__comment">
                <div class="b-health__comment__txt">Я думаю это было просто легкое недомагание и все!</div>
                <div class="b-health__comment__datetime"><span class="b-health__comment__date">15 июня 2013</span><span class="b-health__comment__time">12:25</span></div>
              </div>
            </div><a href="#" class="b-button b-button_main b-button_aside">Добавить комментарий</a><a href="#">Удалить этот замер</a>
          </section>
          <section class="b-content b-popup b-popup_fullwidth b-popup_indent">
            <h1 class="b-content__header-text">График здоровья</h1>
            <div class="b-content__header-link js-popup_datapicker-wrapper"><a href="#" class="b-popup_datapicker_opener js-popup_datapicker_opener">с <span id="label-startdate">7 апреля</span> по <span id="label-enddate">15 июня 2013</span></a>
              <div class="b-popup b-popup_datapicker js-popup_datapicker"><a href="#" class="b-popup__close js-popup__close"></a>
                <h3 class="b-content__popup-header">Период</h3>
                <div class="l-cols">
                  <div class="l-col l-col-1-2">
                    <label for="start-date" class="b-form__label">c</label>
                    <div class="l-row l-row_datepicker l-input_datepicker-wrapper">
                      <input type="text" value="7 апреля 2013" name="start-date" id="datepicker-startdate" class="b-input b-input_datepicker js-input_datepicker_start">
                    </div>
                  </div>
                  <div class="l-col l-col-2-2">
                    <label for="end-date" class="b-form__label">по</label>
                    <div class="l-row l-row_datepicker l-input_datepicker-wrapper">
                      <input type="text" value="8 апреля 2013" name="end-date" id="datepicker-enddate" class="b-input b-input_datepicker js-input_datepicker_end">
                    </div>
                  </div>
                </div>
                <div class="b-popup_datapicker-links"><a href="#" class="b-popup_datapicker-link js-popup_datapicker-1week">За неделю</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-2week">За 2 недели</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-1month">За месяц</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-3month">За 3 месяца</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-6month">За полгода</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-1year">За год</a><a href="#" class="b-popup_datapicker-link js-popup_datapicker-all">За все время</a></div>
              </div>
            </div>
            <div class="b-graph">
              <div class="b-graph-health">
                <div id="b-graph-bars__axis" class="b-graph__axis b-graph-bars__axis"></div>
                <div id="b-graph-bars__paper" class="b-graph__paper b-graph-bars__paper"></div>
              </div><a href="#" class="b-graph__arrow b-graph__arrow_l js-graph-bars__arrow_l"></a><a href="#" class="b-graph__arrow b-graph__arrow_r js-graph-bars__arrow_r"></a>
            </div>
          </section>
          <section class="b-content b-content_fullwidth b-content_indent">
            <h1 class="b-content__header">Последние комментарии</h1>
            <table class="b-measures b-measures_listing">
              <thead>
                <tr>
                  <th class="b-measures__th b-measures__health-date"><a href="#" class="b-measures__link">Дата и время замера</a></th>
                  <th class="b-measures__th b-measures__health"><span class="b-measures__link b-measures__link">Здоровье</span></th>
                  <th class="b-measures__th b-measures__comment"><span class="b-measures__link b-measures__link">Текст комментария</span></th>
                  <th class="b-measures__th b-measures__comment-date"><a href="#" class="b-measures__link">Дата и время комментария</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="b-measures__td b-measures__health-date"><span class="b-measures__health-date-wrap"><span class="b-measures__health-date_day">15 июня 2013</span><span class="b-measures__health-date_time">12:25</span></span></td>
                  <td class="b-measures__td b-measures__health"><span class="b-health-icon b-health-icon_orange b-warning b-warning_health-icon">2</span></td>
                  <td class="b-measures__td b-measures__comment b-measures__highpriority"><span class="b-measures__from">А. А. Александров: </span>Запишитесь ко мне на прием, посмотрим на всякий случай</td>
                  <td class="b-measures__td b-measures__comment-date"><span class="b-measures__comment-date-wrap"><span class="b-measures__comment-date_day">15 июня 2013</span><span class="b-measures__comment-date_time">12:25</span></span></td>
                </tr>
                <tr>
                  <td class="b-measures__td b-measures__health-date"><span class="b-measures__health-date-wrap"><span class="b-measures__health-date_day">10 июня 2013</span><span class="b-measures__health-date_time">13:11</span></span></td>
                  <td class="b-measures__td b-measures__health"><span class="b-health-icon b-health-icon_lgreen">4</span></td>
                  <td class="b-measures__td b-measures__comment">Перенервничал немного на работе</td>
                  <td class="b-measures__td b-measures__comment-date"><span class="b-measures__comment-date-wrap"><span class="b-measures__comment-date_day">10 июня 2013</span><span class="b-measures__comment-date_time">13:11</span></span></td>
                </tr>
                <tr>
                  <td class="b-measures__td b-measures__health-date"><span class="b-measures__health-date-wrap"><span class="b-measures__health-date_day">9 июня 2013</span><span class="b-measures__health-date_time">18:38</span></span></td>
                  <td class="b-measures__td b-measures__health"><span class="b-health-icon b-health-icon_orange">2</span></td>
                  <td class="b-measures__td b-measures__comment">Отравился японской кухней</td>
                  <td class="b-measures__td b-measures__comment-date"><span class="b-measures__comment-date-wrap"><span class="b-measures__comment-date_day">июня 2013</span><span class="b-measures__comment-date_time">18:38</span></span></td>
                </tr>
                <tr>
                  <td class="b-measures__td b-measures__health-date"><span class="b-measures__health-date-wrap"><span class="b-measures__health-date_day">4 июня 2013</span><span class="b-measures__health-date_time">23:04</span></span></td>
                  <td class="b-measures__td b-measures__health"><span class="b-health-icon b-health-icon_red">1</span></td>
                  <td class="b-measures__td b-measures__comment b-measures__lowpriority">Нет комментариев</td>
                  <td class="b-measures__td b-measures__comment-date"><span class="b-measures__comment-date-wrap"><span class="b-measures__comment-date_day">4 июня 2013</span><span class="b-measures__comment-date_time">23:04</span></span></td>
                </tr>
                <tr>
                  <td class="b-measures__td b-measures__health-date"><span class="b-measures__health-date-wrap"><span class="b-measures__health-date_day">1 июня 2013</span><span class="b-measures__health-date_time">12:01</span></span></td>
                  <td class="b-measures__td b-measures__health"><span class="b-health-icon b-health-icon_yellow">3</span></td>
                  <td class="b-measures__td b-measures__comment">Отравился японской кухней</td>
                  <td class="b-measures__td b-measures__comment-date"><span class="b-measures__comment-date-wrap"><span class="b-measures__comment-date_day">1 июня 2013</span><span class="b-measures__comment-date_time">12:01</span></span></td>
                </tr>
              </tbody>
            </table><a href="/journal.html">Перейти в журнал</a>
          </section>
        </div>
        <div class="b-tab__page">
          <section class="b-content b-popup b-popup_fullwidth">
            <p>Страница инструкций заглушка 1</p>
          </section>
        </div>
        <div class="b-tab__page">
          <section class="b-content b-popup b-popup_fullwidth">
            <p>Страница инструкций заглушка 2</p>
          </section>
        </div>
      </div>
    </div>
    <footer class="b-footer">
      <div class="b-footer__wrapper">
        <p class="b-footer__copyright">© Оргон, 2013</p><a href="#" class="b-footer__link">Наши специалисты</a><a href="/journal.html" class="b-footer__link">Журнал измерений</a>
      </div>
    </footer>
    <form id="b_popup_add_user" class="mfp-hide b-popup">
      <h1 class="b-content__header">Добавить пользователя</h1>
      <div class="b-form__fieldset b-form__fieldset-bottom">
        <label for="adduser_name" class="b-form__label">Имя пользователя</label>
        <div class="l-row l-row_fieldset-equal">
          <input type="text" id="adduser_name" name="adduser_name" required="required" class="b-input b-input_big b-input_indent_small"/>
        </div>
      </div>
      <div class="b-form__fieldset b-form__fieldset-bottom">
        <label class="b-form__label">Дата рождения</label>
        <select name="adduser_day" id="adduser_day" mod="days" required="required" class="b-select js-select_adduser_day">
          <option selected="selected" disabled="disabled">День</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <select name="adduser_month" id="adduser_month" mod="month" required="required" class="b-select js-select_adduser_month">
          <option selected="selected" disabled="disabled">Месяц</option>
          <option value="1">Январь</option>
          <option value="2">Февраль</option>
          <option value="3">Март</option>
          <option value="4">Апрель</option>
          <option value="5">Май</option>
          <option value="6">Июнь</option>
          <option value="7">Июль</option>
          <option value="8">Август</option>
          <option value="9">Сентябрь</option>
          <option value="10">Октябрь</option>
          <option value="11">Ноябрь</option>
          <option value="12">Декабрь</option>
        </select>
        <select name="adduser_year" id="adduser_year" mod="year" required="required" class="b-select js-select_adduser_year">
          <option selected="selected" disabled="disabled">Год</option>
          <option value="1950">1950</option>
          <option value="1951">1951</option>
          <option value="1952">1952</option>
          <option value="1953">1953</option>
          <option value="1954">1954</option>
          <option value="1955">1955</option>
          <option value="1956">1956</option>
          <option value="1957">1957</option>
          <option value="1958">1958</option>
          <option value="1959">1959</option>
          <option value="1960">1960</option>
          <option value="1961">1961</option>
          <option value="1962">1962</option>
          <option value="1963">1963</option>
          <option value="1964">1964</option>
          <option value="1965">1965</option>
          <option value="1966">1966</option>
          <option value="1967">1967</option>
          <option value="1968">1968</option>
          <option value="1969">1969</option>
          <option value="1970">1970</option>
          <option value="1971">1971</option>
          <option value="1972">1972</option>
          <option value="1973">1973</option>
          <option value="1974">1974</option>
          <option value="1975">1975</option>
          <option value="1976">1976</option>
          <option value="1977">1977</option>
          <option value="1978">1978</option>
          <option value="1979">1979</option>
          <option value="1980">1980</option>
          <option value="1981">1981</option>
          <option value="1982">1982</option>
          <option value="1983">1983</option>
          <option value="1984">1984</option>
          <option value="1985">1985</option>
          <option value="1986">1986</option>
          <option value="1987">1987</option>
          <option value="1988">1988</option>
          <option value="1989">1989</option>
          <option value="1990">1990</option>
          <option value="1991">1991</option>
          <option value="1992">1992</option>
          <option value="1993">1993</option>
          <option value="1994">1994</option>
          <option value="1995">1995</option>
          <option value="1996">1996</option>
          <option value="1997">1997</option>
          <option value="1998">1998</option>
          <option value="1999">1999</option>
          <option value="2000">2000</option>
          <option value="2001">2001</option>
          <option value="2002">2002</option>
          <option value="2003">2003</option>
          <option value="2004">2004</option>
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
        </select>
      </div>
      <div class="b-form__fieldset b-form__fieldset-top">
        <label class="b-form__label b-form__label_indent">Пол</label>
        <input type="radio" name="adduser_choose-sex" id="adduser_male" value="male" required="required" class="b-customInput"/>
        <label for="adduser_male" class="b-customInput__label">М</label>
        <input type="radio" name="adduser_choose-sex" id="adduser_female" value="female" required="required" class="b-customInput"/>
        <label for="adduser_female" class="b-customInput__label">Ж</label>
      </div>
      <input type="submit" value="Добавить пользователя" class="b-button b-button_main b-button_top">
    </form>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")</script>
    <script>
      //- var _gaq = _gaq || [];
      //- _gaq.push(['_setAccount','UA-XXXXX-X'],['_trackPageview']);
      (function(doc, w, script, c) {
          var f = function () { fjs.parentNode.insertBefore(js, fjs); };
          var js, fjs = doc.getElementsByTagName(script)[0],
              add = function(url, id) {
                  if (doc.getElementById(id)) {return;}
                  js = doc.createElement(script); js.src = url; js.async = true;
                  id && (js.id = id);
                  f();
              };
              
          //- (w[c] = w[c] || []).push(function() {
          //-     try { w.yaCounterXXXXXXX = new Ya.Metrika({id:XXXXXXX, enableAll: true, webvisor:true}); } catch(e) {}
          //- });
          
          add('publish/script.js', 'script-js');
          // Google Analytics
          //- add('//www.google-analytics.com/ga.js', 'ga');
          // Yandex Metrika
          //- add(("https:" == location.protocol ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js", 'ya-metrika');
          // Google+ button
          //add('https://apis.google.com/js/plusone.js');
          // Facebook SDK
          //add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk');
          // Twitter SDK
          //add('//platform.twitter.com/widgets.js', 'twitter-wjs');
      }(document, window, 'script', 'yandex_metrika_callbacks'));
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/XXXXXXX" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>