.b-health-list
	width: columns-width(12) + $gridGutterWidth;
	clearfix();

	@media print
		display: block;

	@media $wide
		width: 100%;
	@media $normal
		width: columns-width(12) + $gridGutterWidth;
	@media $tablet
		width: 100%;

	&_indent
		margin-bottom: 27px;
		padding-top: 20px;
		border-top: 1px dashed #ced0c4;
		clearfix();

	&__item
		columns(4)
		margin-right: $gridGutterWidth;
		height: 36px;

	&__header
		margin-bottom: 20px;

	&__hp
		float: left;
		margin-right: 7px;
	&__safety
		float: left;
		margin-right: 17px;

	&__link
		line-height: 27px;
		margin-left: -10px;
		transition: all 0.4s;
		padding: 5px 10px;
		box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0);
	&__link_warning
		color: #b13600;
	&__link_selected
		border-radius: 3px;
		background: #ebede5;
		box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
		color: #727559;
		text-decoration: none;

	&__about-organ-data
		display: none;


.b-health-legenda
	padding-bottom: 29px;
	color: #747762;
	clearfix();

	@media print
		display: none;

	&__label
		font-size: 13px;
	&__levels
		float: left;
		margin-left: 50px;
		padding-top: 3px;
		width: 375px;
		@media $tablet
			&
				margin-top: 20px;
				margin-left: 182px;

	&__levels-icon
		margin-right: 3px;
		margin-left: 4px;
	&__signs
		float: left;
		padding-top: 26px;
		width: 330px;
	&__sign-label
		float: left;
		margin-right: 22px;
		padding-top: 7px;
		font-size: 15px;
	&__sign
		position: relative;
		top: -23px;


.b-health-legenda__grad
	position: relative;
	float: left;
	margin-top: 6px;
	margin-right: -2px;
	margin-left: 7px;
	width: 41px;
	height: 5px;
	text-align: center;
	cursor: pointer;

	&:hover .b-popup
		display: block;

	&_1st
		clear: left;
	&_green
		background: greenColor;
	&_lgreen
		background: lgreenColor;
	&_yellow
		background: yellowColor;
	&_orange
		background: orangeColor;
	&_red
		background: redColor;


.b-health__about
	padding-top: 24px;
	padding-bottom: 13px;
	border-top: 1px dashed #ced0c4;
	&_indent
		margin-bottom: 20px;
		padding-bottom: 28px;
		border-bottom: 1px dashed #ced0c4;

	&__number
		float: left;
		margin-top: -18px;
		margin-left: -8px;
		padding-right: 30px;
		width: 110px;
		text-align: center;
		letter-spacing: -0.07em;
		font-weight: bold;
		font-size: 85px;

		&_green
			color: greenColor;
		&_lgreen
			color: lgreenColor;
		&_yellow
			color: yellowColor;
		&_orange
			color: orangeColor;
		&_red
			color: redColor;

	&__description
		overflow: hidden;
	&__header
		display: block;
		margin-bottom: 6px;
		letter-spacing: -0.01em;
		font-size: 26px;



.b-health-icon
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 3px;
	background: #9b9e86;
	color: #161616;
	text-align: center;
	font-weight: bold;
	line-height: 26px;
	calibri();

	&_neutral
		color: #f4f6ee;
		background: #9b9e86;
	&_green
		background: greenColor;
	&_lgreen
		background: lgreenColor;
	&_yellow
		background: yellowColor;
	&_orange
		background: orangeColor;
	&_red
		background: redColor;


.b-health__comments
	margin-bottom: 20px;
.b-health__comment
	display: block;
	margin-bottom: 9px;
	padding: 0 20px;
	height: 48px;
	border-radius: 5px;
	background: #e9eddf;
	line-height: 48px;
	clearfix();

	&_doctor
		color: #ac3500;

	&__author
		margin-right: 4px;
	&__txt
		float: left;
	&__datetime
		float: right;
		width: 125px;
		color: #747762;
		font-size: 11px;
	&__date
		float: left;
	&__time
		float: right;



.b-health__about-organs
	position: relative;
	padding-top: 20px;
	padding-bottom: 10px;
	border-top: 1px dashed #ced0c4;
	transition: 0.6s linear all;
	clearfix();

	@media print
		display: none;

	&_closed
		padding-top: 0;
		padding-bottom: 0;
		border-top: 1px dashed #f1f3eb;
	&_closed .b-health__about-organ
		overflow: hidden;
		margin: 0;
		max-height: 0;
		opacity: 0;

.b-health__about-organ
	margin-top: 17px;
	max-height: 300px;
	opacity: 1;
	transition: 0.6s linear all;
	clearfix();

	&_hidden
		overflow: hidden;
		margin: 0;
		max-height: 0;
		opacity: 0;

	&:first-child
		margin-top: 0;
	&__toggle
		position: relative;
		top: 2px;
		float: right;
		right: 0;
		border-bottom: 1px dashed;
		text-decoration: none;
	&__params
		float: left;
		margin-top: 4px;
		margin-right: -9px;
		width: 80px;
	&__about
		overflow: hidden;
	&__txt
		margin-top: 4px;