.b-popup
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 1.5 * $gridGutterWidth;
	width: columns-width(6) + (2*$gridGutterWidth);
	border-radius: 5px;
	background: $lightgreen;
	box-shadow: 0 3px 5px rgba(0,0,0,0.21);
	@media $tablet
		&
			width: columns-width(9);

	&__txt
		color: #787b60;
		letter-spacing: -0.01em;
	&__msg-txt
		margin-bottom: 25px;
		color: #787b60;
		letter-spacing: -0.03em;
		font-size: 16px;
 
	&__close
		position: absolute;
		top: 20px;
		right: 17px;
		display: block;
		sprite($b-popup__close_sprite)

	&_fullwidth
		width: columns-width(12);
		padding: $gridGutterWidth;
		box-sizing: content-box;
		@media $wide
			&
				width: columns-width(18);
		@media $normal
			&
				width: columns-width(12);
		@media $tablet
			&
				width: columns-width(9);

	&_hidden
		display: none;

	&_indent
		margin-top: 24px;

	&__health-legenda
		position: absolute;
		top: 16px;
		left: 50%;
		display: none;
		margin-left: -170px;
		padding: 20px;
		width: 408px;
		background: #f7f9f5;
		box-shadow: 0 1px 6px rgba(0,0,0,0.41);
		text-align: left;
		smoothing();
	&__health-legenda__header
		display: inline-block;
		margin-left: 13px;
		color: black;
		vertical-align: top;
		letter-spacing: -0.04em;
		font-size: 16px;
		line-height: 26px;
	&__health-legenda__about
		margin-top: 16px;
		width: 100%;
		color: black;
		table-layout: fixed;
		line-height: 20px;
		td
			padding-bottom: 3px;
	&__health-legenda__col1
		width: 157px;
		color: #747762;

	&__health-legenda:after
	&_datapicker:after
		position: absolute;
		left: 50%;
		display: block;
		content: '';
		sprite($b-popup__arrow_top_sprite)
		top: -@height;
		margin-left: -(@width / 2);
	&__health-legenda:after
		margin-left: -47px;

	&_datapicker
		position: absolute;
		top: 46px;
		left: 50%;
		z-index: 128;
		display: none;
		width: 488px;
		margin-left: -(@width / 2);
		padding: 21px 28px;
		box-shadow: 0 1px 6px rgba(0,0,0,0.41);
		line-height: 18px;
		background: #f7f9f5;

	&_datapicker_opener
		font-size: 15px;
	&_datapicker-links
		margin-bottom: -7px;
		clearfix();
	&_datapicker-link
		float: left;
		margin-right: 18px;
		margin-bottom: 13px;
		border-bottom: 1px dashed;
		text-decoration: none;
		white-space: nowrap;
		font-size: 13px;