.l-layout
	&__item
		position: relative;
		display: block;

	&__item__inputs
	&__item__labels
		position: relative;
		margin-right: 6px;
		width: 296px;

	&__item__labels
		width: 400px

	&__item__inputs
	&__item__btns
	&__item__links
	&__item__labels
		display: inline-block;
		vertical-align: top;
		line-height: 40px;
	&__item__btns
		margin-right: 20px;

	&__item_phonenumbers
		padding-left: 30px;
	&__item_watchers
		padding-left: 30px;

	&__item_phonenumbers &__item__inputs:before
		top: 50%;
		sprite($l-layout__phone_sprite)
		margin-top: -( @height / 2);
	&__item_watchers &__item__inputs:before
	&__item_watchers &__item__labels:before
		top: 50%;
		sprite($l-layout__watch_sprite)
		margin-top: -( @height / 2);


	&__item_phonenumbers &__item__inputs:before
	&__item_watchers &__item__inputs:before
	&__item_watchers &__item__labels:before
		position: absolute;
		left: -30px;
		display: block;
		content: '';
