.l-row
	position: relative;
	clearfix();

	&_fieldset
		margin-top: 6px;
		margin-bottom: 18px;
	&_fieldset-bottom
		margin-bottom: 18px;
	&_fieldset-top
		margin-top: 6px;
	&_fieldset-equal
		margin-top: 6px;
		margin-bottom: 6px;
	&_field-bottom
		margin-bottom: 10px;

	&_datepicker
		margin-top: 6px;
		margin-bottom: 18px;
