.b-footer
	width: 100%;
	height: 115px;
	background-color: $lightgreen;
	font-size: 13px;

	@media print
		&
			display: none;

	// 
	position: relative;
	z-index: -1;

	&__wrapper
		box-sizing: border-box;
		margin: 0 auto;
		padding: 27px 43px;
		max-width: columns-width(12);

		// 
		position: fixed;
		bottom: 0;
		left: 0;
		margin-left: 38px;
		height: 115px;

	&__copyright
		float: left;
		margin-right: 25px;
		color: $grey;

	&__link
		margin-right: 30px;
		letter-spacing: -0.05em;
		font-size: 12px;