section.b-comments
  h2.b-content__header.b-comments__header Комментарии (28)
  a(href="#").b-comments__showall Показать все 28 комментариев

  .b-comments-list#b-comments-list
    .b-comment.b-comment_hidden
      span.b-comment__author.b-comment__author-doctor А. А. Александров
      span.b-comment__txt Жду вас завтра на прием к 8 утра в мой кабинет! И не забудьте карточку, а то получится как в тот раз. 
      span.b-comment__date 11 июня 2013 12:25
      a(href="#").b-comment__reply Ответить
    .b-comment.b-comment_hidden
      span.b-comment__author.b-comment__author-doctor А. А. Александров
      span.b-comment__txt Жду вас завтра на прием к 8 утра в мой кабинет! И не забудьте карточку, а то получится как в тот раз. 
      span.b-comment__date 12 июня 2013 12:25
      a(href="#").b-comment__reply Ответить
    .b-comment.b-comment_hidden
      span.b-comment__author.b-comment__author-doctor А. А. Александров
      span.b-comment__txt Жду вас завтра на прием к 8 утра в мой кабинет! И не забудьте карточку, а то получится как в тот раз. 
      span.b-comment__date 13 июня 2013 12:25
      a(href="#").b-comment__reply Ответить
    .b-comment
      span.b-comment__author.b-comment__author-doctor А. А. Александров
      span.b-comment__txt Жду вас завтра на прием к 8 утра в мой кабинет! И не забудьте карточку, а то получится как в тот раз. 
      span.b-comment__date 15 июня 2013 12:25
      a(href="#").b-comment__reply Ответить
    .b-comment.b-comment_nested
      span.b-comment__author Константин
      span.b-comment__txt А.А.Александров, хорошо, постараюсь доехать до вас как можно раньше. Думаю, что до обеда успею.
      span.b-comment__date 15 июня 2013 12:29
      a(href="#").b-comment__reply Ответить

    script(type="text/html-template", id="b_comments_template")
      .b-comment.b-comment_fresh
        span.b-comment__author <%=author%>
        span.b-comment__txt <%=text%>
        span.b-comment__date <%=date%>
        a(href="#").b-comment__reply Ответить
    script(type="text/html-template", id="b_comments_template_doctor")
      .b-comment.b-comment_fresh
        span.b-comment__author.b-comment__author-doctor <%=author%>
        span.b-comment__txt <%=text%>
        span.b-comment__date <%=date%>
        a(href="#").b-comment__reply Ответить

  form(action="").b-comment__add-area#b-comment__add-area
    .b-comment__add-area__send
      input(type="submit", value="Добавить комментарий").b-button.b-button_action_small
    .b-comment__add-area__input
      input(placeholder="Введите свой комментарий", required, name="comment_text").b-input.b-input_row
