.b-dropdown.js-dropdown.b-header__dropdown
  .b-dropdown__row
    .b-header__account
      .b-header__account-wrap.b-header__account-wrap_watcher
        i.b-header__account-pic
        span Лечащий врач
  .b-dropdown__content
    ul.b-header__options
      li.b-header__option: a(href="/options.html").b-header__option-link Настройки профиля
      li.b-header__option: a(href="/logout").b-header__option-link Выйти