.b-dropdown.js-dropdown.b-header__dropdown
  .b-dropdown__row
    .b-header__account
      .b-header__account-wrap
        i.b-header__account-pic
        span Константин Константинопольский
  .b-dropdown__content
    ul.b-header__options
      li.b-header__option: a(href="/options.html").b-header__option-link Настройки профиля
      li.b-header__option: a(href="/options.html#adduser").b-header__option-link Добавить пользователя
      li.b-header__option: a(href="/options.html#addwatcher").b-header__option-link Добавить наблюдателя
      li.b-header__option: a(href="/options.html#contacts").b-header__option-link Добавить телефон
      li.b-header__option: a(href="/logout").b-header__option-link Выйти