ul
  li.b-health-list__item(data-organ-id="1")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_green.b-health-list__safety 5
    a(href="/organ.html").b-health-list__link Сердце
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="2")
    .b-health-icon.b-health-icon_lgreen.b-health-list__hp 4
    .b-health-icon.b-health-icon_green.b-health-list__safety 5
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
    a(href="/organ.html").b-health-list__link Сосуды
  li.b-health-list__item(data-organ-id="3")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_green.b-health-list__safety 5
    a(href="/organ.html").b-health-list__link Легкие
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="4")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_yellow.b-health-list__safety 3
    a(href="/organ.html").b-health-list__link Желудок
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="5")
    .b-health-icon.b-health-icon_yellow.b-health-list__hp 3
    .b-health-icon.b-health-icon_yellow.b-health-list__safety 3
    a(href="/organ.html").b-health-list__link Поджелудочная
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="6")
    .b-health-icon.b-health-icon_yellow.b-health-list__hp 3
    .b-health-icon.b-health-icon_yellow.b-health-list__safety 3
    a(href="/organ.html").b-health-list__link Щитовидная железа
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».

  li.b-health-list__item(data-organ-id="7")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_green.b-health-list__safety 5
    a(href="/organ.html").b-health-list__link Позвоночник, шейный отдел
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="8")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_green.b-health-list__safety 5
    a(href="/organ.html").b-health-list__link Позвоночник, грудной отдел
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="9")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_green.b-health-list__safety 5
    a(href="/organ.html").b-health-list__link Позвоночник, поясничный отдел
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="10")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_green.b-health-list__safety 5
    a(href="/organ.html").b-health-list__link Почки
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="11")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_green.b-health-list__safety 5
    a(href="/organ.html").b-health-list__link Печень
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="12")
    .b-health-icon.b-health-icon_orange.b-health-list__hp 2
    .b-health-icon.b-health-icon_red.b-health-list__safety 1
    a(href="/organ.html").b-health-list__link.b-health-list__link_warning Толстый кишечник
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».

  li.b-health-list__item(data-organ-id="13")
    .b-health-icon.b-health-icon_red.b-health-list__hp 1
    .b-health-icon.b-health-icon_orange.b-health-list__safety 2
    a(href="/organ.html").b-health-list__link.b-health-list__link_warning Тонкий кишечник
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="14")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_yellow.b-health-list__safety 3
    a(href="/organ.html").b-health-list__link Мочевой пузырь
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="15")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_lgreen.b-health-list__safety 4
    a(href="/organ.html").b-health-list__link.b-health-list__link_selected Простата
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="16")
    .b-health-icon.b-health-icon_orange.b-health-list__hp 2
    .b-health-icon.b-health-icon_orange.b-health-list__safety 2
    a(href="/organ.html").b-health-list__link Надпочечник
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="17")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_green.b-health-list__safety 5
    a(href="/organ.html").b-health-list__link Желчный пузырь
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».
  li.b-health-list__item(data-organ-id="18")
    .b-health-icon.b-health-icon_green.b-health-list__hp 5
    .b-health-icon.b-health-icon_green.b-health-list__safety 5
    a(href="/organ.html").b-health-list__link Иммунитет
    .b-health-list__about-organ-data На фоне удовлетворительного уровня энергетических ресурсов, обеспечивающих механизмы саморегуляции, организм имеет некоторые компенсаторные возможности в восстановлении функционирования «Легкие». Рекомендуется повышенный контроль за состоянием органа и обращение к специалисту «ЛОР».