.b-health-legenda
  span.b-health-legenda__sign-label Обозначения:
  .b-health-legenda__signs
    .b-health-legenda__grad.b-health-legenda__grad_red.b-health-legenda__grad_1st
      span.b-health-legenda__sign 1
      .b-popup.b-popup__health-legenda
        span.b-health-icon.b-health-icon_red
        span.b-popup__health-legenda__header 1
        table.b-popup__health-legenda__about
          tr
            td.b-popup__health-legenda__col1 Уровень здоровья: 
            td sadasd активация
          tr
            td.b-popup__health-legenda__col1 Уровень безопасности: 
            td Низкий sadasdasd
    .b-health-legenda__grad.b-health-legenda__grad_orange
      span.b-health-legenda__sign 2
      .b-popup.b-popup__health-legenda
        span.b-health-icon.b-health-icon_orange
        span.b-popup__health-legenda__header 2
        table.b-popup__health-legenda__about
          tr
            td.b-popup__health-legenda__col1 Уровень здоровья: 
            td Спокойная активация
          tr
            td.b-popup__health-legenda__col1 Уровень безопасности: 
            td Низкий риск заболевания или компенсированный процесс
    .b-health-legenda__grad.b-health-legenda__grad_yellow
      span.b-health-legenda__sign 3
      .b-popup.b-popup__health-legenda
        span.b-health-icon.b-health-icon_yellow
        span.b-popup__health-legenda__header 3
        table.b-popup__health-legenda__about
          tr
            td.b-popup__health-legenda__col1 Уровень здоровья: 
            td sadasd активация
          tr
            td.b-popup__health-legenda__col1 Уровень безопасности: 
            td Низкий sadasdasd
    .b-health-legenda__grad.b-health-legenda__grad_lgreen
      span.b-health-legenda__sign 4
      .b-popup.b-popup__health-legenda
        span.b-health-icon.b-health-icon_lgreen
        span.b-popup__health-legenda__header 4
        table.b-popup__health-legenda__about
          tr
            td.b-popup__health-legenda__col1 Уровень здоровья: 
            td sadasd активация
          tr
            td.b-popup__health-legenda__col1 Уровень безопасности: 
            td Низкий sadasdasd
    .b-health-legenda__grad.b-health-legenda__grad_green
      span.b-health-legenda__sign 5
      .b-popup.b-popup__health-legenda
        span.b-health-icon.b-health-icon_green
        span.b-popup__health-legenda__header 5
        table.b-popup__health-legenda__about
          tr
            td.b-popup__health-legenda__col1 Уровень здоровья: 
            td sadasd активация
          tr
            td.b-popup__health-legenda__col1 Уровень безопасности: 
            td Низкий sadasdasd

  .b-health-legenda__levels
    span.b-health-legenda__label Уровень здоровья —
    span.b-health-icon.b-health-icon_neutral.b-health-legenda__levels-icon 5
    span.b-health-icon.b-health-icon_neutral.b-health-legenda__levels-icon 5
    span.b-health-legenda__label — Уровень безопасности