tbody
  tr
    td.b-measures__td.b-measures__health-date
      span.b-measures__health-date-wrap
        span.b-measures__health-date_day 15 июня 2013
        span.b-measures__health-date_time 12:25
    td.b-measures__td.b-measures__health
      span.b-health-icon.b-health-icon_orange.b-warning.b-warning_health-icon 2
    td.b-measures__td.b-measures__comment.b-measures__highpriority
      span.b-measures__from А. А. Александров: 
      | Запишитесь ко мне на прием, посмотрим на всякий случай
    td.b-measures__td.b-measures__comment-date
      span.b-measures__comment-date-wrap
        span.b-measures__comment-date_day 15 июня 2013
        span.b-measures__comment-date_time 12:25
  tr
    td.b-measures__td.b-measures__health-date
      span.b-measures__health-date-wrap
        span.b-measures__health-date_day 10 июня 2013
        span.b-measures__health-date_time 13:11
    td.b-measures__td.b-measures__health
      span.b-health-icon.b-health-icon_lgreen 4
    td.b-measures__td.b-measures__comment Перенервничал немного на работе
    td.b-measures__td.b-measures__comment-date
      span.b-measures__comment-date-wrap
        span.b-measures__comment-date_day 10 июня 2013
        span.b-measures__comment-date_time 13:11
  tr
    td.b-measures__td.b-measures__health-date
      span.b-measures__health-date-wrap
        span.b-measures__health-date_day 9 июня 2013
        span.b-measures__health-date_time 18:38
    td.b-measures__td.b-measures__health
      span.b-health-icon.b-health-icon_orange 2
    td.b-measures__td.b-measures__comment Отравился японской кухней
    td.b-measures__td.b-measures__comment-date
      span.b-measures__comment-date-wrap
        span.b-measures__comment-date_day июня 2013
        span.b-measures__comment-date_time 18:38
  tr
    td.b-measures__td.b-measures__health-date
      span.b-measures__health-date-wrap
        span.b-measures__health-date_day 4 июня 2013
        span.b-measures__health-date_time 23:04
    td.b-measures__td.b-measures__health
      span.b-health-icon.b-health-icon_red 1
    td.b-measures__td.b-measures__comment.b-measures__lowpriority Нет комментариев
    td.b-measures__td.b-measures__comment-date
      span.b-measures__comment-date-wrap
        span.b-measures__comment-date_day 4 июня 2013
        span.b-measures__comment-date_time 23:04
  tr
    td.b-measures__td.b-measures__health-date
      span.b-measures__health-date-wrap
        span.b-measures__health-date_day 1 июня 2013
        span.b-measures__health-date_time 12:01
    td.b-measures__td.b-measures__health
      span.b-health-icon.b-health-icon_yellow 3
    td.b-measures__td.b-measures__comment Отравился японской кухней
    td.b-measures__td.b-measures__comment-date
      span.b-measures__comment-date-wrap
        span.b-measures__comment-date_day 1 июня 2013
        span.b-measures__comment-date_time 12:01