form#js-form_options_login.b-form__login-change.b-form__fieldset_wrap.b-view.b-view_view
  label(for="user_email").b-form__label.b-view__show Эл.почта:
  label(for="user_email").b-form__label.b-view__hide Текущий адрес:
  .l-row.l-row_fieldset
    input(type="email", value="Pikcher.box@gmail.com", id="user_email", name="user_email", disabled).b-input.b-input_big.b-input_indent
    a(href="#").b-form__input-editlink.b-view__show.js-view__edit Изменить

  label(for="user_email_new").b-form__label.b-view__hide Новый адрес:
  .l-row.l-row_fieldset.b-view__hide
    input(type="email", placeholder="Mc'Raven@bk.ru", id="user_email_new", name="user_email_new", value="Pikcher.box@gmail.com").b-input.b-input_big.b-input_indent
  input(type="submit", value="Сохранить адрес").b-button.b-button_main.b-view__hide