form#js-form_options_password.b-form__password-change.b-form__fieldset_wrap.b-view.b-view_view
  label.b-form__label(for="old_password").b-view__hide Старый пароль
  label.b-form__label(for="old_password").b-view__show Пароль

  .l-row.l-row_fieldset
    input(type="password", id="old_password", name="old_password", disabled, value="1234567890").b-input.b-input_big.b-input_indent
    a(href="#").b-form__input-editlink.b-view__show.js-view__edit Изменить

  .l-row.l-row_fieldset.b-view__hide
    label.b-form__label(for="new_password") Новый пароль
    input(type="password", id="new_password", name="new_password", value="1234567890").b-input.b-input_big.b-input_indent

  .l-row.l-row_fieldset.b-view__hide
    label.b-form__label(for="new_password_again") Повторите пароль
    input(type="password", id="new_password_again", name="new_password_again", value="1234567890").b-input.b-input_big.b-input_indent

  input(type="submit", value="Изменить пароль").b-button.b-button_main.b-view__hide